<div class="row">
    <div class="col-xs-120 ">
        <div class="box box-primary">
            <div class="box-body">
                <?php
                echo $this->SimpleForm->render($updateForm);
                ?>
            </div>
        </div>
    </div>
</div>