<div class="row">
    <div class="col-md-6">    
        <div class="box box-primary">   
            <div class="box-header">
                <h3 class="box-title">Quick Example</h3>
            </div>
            <div class="box-body">                
            <?php
                echo $this->Common->truncate("Hello world", 5);
                echo $this->SimpleForm->render($updateForm);                            
            ?>
            </div>
        </div>
     </div>
</div>