@charset "utf-8";
/* CSS Document */
/* -- Padding VS width -- */
* {
	padding: 0px;
	margin: 0px;
	border: none;
	word-break: break-all;
}
*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
h1, h2, h3, h4, h5 {
	line-height:100%;
	}
h1 {}
h2 {}
h3 {
	}
h4 {}
h5 {
	color:#FFF;
	margin: 10px auto 5px auto;
	font-weight:bold;
	font-size:14px;
	}
p {
	line-height:160%;
	margin:5px auto 5px auto;
	}
a {
	text-decoration: none;
	color:#595757;
}
a:hover {
	color:#595757;
}
li {
	list-style-type: none;
	}
/*** Variables Base ***/
.f7px {
	font-size: 7px !important;
}
.f8px {
	font-size: 8px !important;
}
.f9px {
	font-size: 9px !important;
}
.f10px {
	font-size: 10px !important;
}
.f11px {
	font-size: 11px !important;
}
.f12px {
	font-size: 12px !important;
}
.f13px {
	font-size: 13px !important;
}
.f14px {
	font-size: 14px !important;
}
.f15px {
	font-size: 15px !important;
}
.f16px {
	font-size: 16px !important;
}
.f17px {
	font-size: 17px !important;
}
.f18px {
	font-size: 18px !important;
}
.f19px {
	font-size: 19px !important;
}
.f20px {
	font-size: 20px !important;
}
.f22px {
	font-size: 22px !important;
}
.f24px {
	font-size: 24px !important;
}
.f26px {
	font-size: 26px !important;
}
.f28px {
	font-size: 28px !important;
}
.f30px {
	font-size: 30px !important;
}
.f32px {
	font-size: 32px !important;
}
/*** Height ***/
.H38 {
	height:38px !important;
	}
/*** Width ***/
.W50 {
	width: 50px;
}
.W60 {
	width: 60px;
}
.W70 {
	width: 70px;
}
.W80 {
	width: 80px;
}
.W100 {
	width: 100px;
}
.W120 {
	width: 120px;
}
.W140 {
	width: 140px;
}
.W150 {
	width: 150px;
}
.W180 {
	width: 180px;
}
.W200 {
	width: 200px;
}
.W220 {
	width: 220px;
}
.W250 {
	width: 250px;
}
.W300 {
	width: 300px;
}
.W360 {
	width: 360px;
}
.W400 {
	width: 400px;
}
.W450 {
	width: 450px;
}
.W500 {
	width: 500px;
}
.wP10 {
	width: 10% !important;
	}
.wP20 {
	width: 20% !important;
	}
.wP25 {
	width: 25% !important;
	}
.wP30 {
	width: 30% !important;
	}
.wP35 {
	width: 35% !important;
	}
.wP38 {
	width: 38% !important;
	}
.wP40 {
	width: 40% !important;
	}
.wP45 {
	width: 45% !important;
	}
.wP48 {
	width: 48% !important;
	}
.wP49 {
	width: 49% !important;
	}
.wP50 {
	width: 50% !important;
	}
.wP60 {
	width: 60% !important;
	}
.wP70 {
	width: 70% !important;
	}
.wP80 {
	width: 80% !important;
	}
.wP90 {
	width: 90% !important;
	}
.wP100 {
	width: 100% !important;
	}
.wP100_full {
	width: 100% !important;
	}

/* Text align
-----------------------------------------------------------------------------------------------------------*/
.taC {
	text-align:center;
	}
.taL {
	text-align:left;
	}
.taR {
	text-align:right;
	}
/* Margin
-----------------------------------------------------------------------------------------------------------*/
.m5 {
	margin:5px !important;
	}
.m10 {
	margin:10px !important;
	}
.m15 {
	margin:15px !important;
	}
.m20 {
	margin:20px !important;
	}
.m25 {
	margin:25px !important;
	}
.m30 {
	margin:30px !important;
	}
.mL0 {
  margin-left: 0px !important;
}

.mL5 {
  margin-left: 5px !important;
}

.mL10 {
  margin-left: 10px !important;
}

.mL15 {
  margin-left: 15px !important;
}

.mL20 {
  margin-left: 20px !important;
}

.mL25 {
  margin-left: 25px !important;
}

.mL30 {
  margin-left: 30px !important;
}
.mL40 {
  margin-left: 40px !important;
}
.mL50 {
  margin-left: 50px !important;
}
.mL125 {
  margin-left: 125px !important;
}
.mR0 {
  margin-right: 0px !important;
}

.mR5 {
  margin-right: 5px !important;
}

.mR10 {
  margin-right: 10px !important;
}

.mR15 {
  margin-right: 15px !important;
}

.mR20 {
  margin-right: 20px !important;
}

.mR25 {
  margin-right: 25px !important;
}

.mR30 {
  margin-right: 30px !important;
}

.mR50 {
  margin-right: 50px !important;
}

.mT0 {
  margin-top: 0px !important;
}

.mT5 {
  margin-top: 5px !important;
}

.mT10 {
  margin-top: 10px !important;
}

.mT15 {
  margin-top: 15px !important;
}

.mT20 {
  margin-top: 20px !important;
}

.mT25 {
  margin-top: 25px !important;
}

.mT30 {
  margin-top: 30px !important;
}
.mT40 {
  margin-top: 40px !important;
}

.mT50 {
  margin-top: 50px !important;
}
.mT100 { margin-top:100px !important;}
.mT120 { margin-top:120px !important;}
.mB0 {
  margin-bottom: 0px !important;
}

.mB5 {
  margin-bottom: 5px !important;
}

.mB10 {
  margin-bottom: 10px !important;
}

.mB15 {
  margin-bottom: 15px !important;
}

.mB20 {
  margin-bottom: 20px !important;
}

.mB25 {
  margin-bottom: 25px !important;
}

.mB30 {
  margin-bottom: 30px !important;
}
.mB40 {
	margin-bottom:40px !important;
	}
.mB50 {
  margin-bottom: 50px !important;
}

/* Padding
-----------------------------------------------------------------------------------------------------------*/
.p5 {
	padding:5px !important;
	}
.p10 {
	padding:10px !important;
	}
.p15 {
	padding:15px !important;
	}
.p20 {
	padding:20px !important;
	}
.p25 {
	padding:25px !important;
	}
.p30 {
	padding:30px !important;
	}
.pL0 {
  padding-left: 0px !important;
}

.pL5 {
  padding-left: 5px !important;
}

.pL10 {
  padding-left: 10px !important;
}

.pL15 {
  padding-left: 14px !important;
}

.pL20 {
  padding-left: 20px !important;
}

.pL25 {
  padding-left: 25px !important;
}

.pL30 {
  padding-left: 29px !important;
}

.pL50 {
  padding-left: 50px !important;
}

.pL60 {
  padding-left: 60px !important;
}

.pR0 {
  padding-right: 0px !important;
}

.pR5 {
  padding-right: 5px !important;
}

.pR10 {
  padding-right: 10px !important;
}

.pR15 {
  padding-right: 15px !important;
}

.pR20 {
  padding-right: 20px !important;
}

.pR25 {
  padding-right: 25px !important;
}

.pR30 {
  padding-right: 30px !important;
}

.pR50 {
  padding-right: 50px !important;
}

.pR80 {
  padding-right: 80px !important;
}

.pR120 {
  padding-right: 120px !important;
}

.pT0 {
  padding-top: 0px !important;
}

.pT5 {
  padding-top: 5px !important;
}

.pT7 {
  padding-top: 7px !important;
}

.pT10 {
  padding-top: 10px !important;
}

.pT15 {
  padding-top: 15px !important;
}

.pT20 {
  padding-top: 20px !important;
}

.pT25 {
  padding-top: 25px !important;
}

.pT30 {
  padding-top: 30px !important;
}

.pT50 {
  padding-top: 50px !important;
}

.pB0 {
  padding-bottom: 0px !important;
}

.pB5 {
  padding-bottom: 5px !important;
}

.pB10 {
  padding-bottom: 10px !important;
}

.pB15 {
  padding-bottom: 15px !important;
}

.pB20 {
  padding-bottom: 20px !important;
}

.pB25 {
  padding-bottom: 25px !important;
}

.pB30 {
  padding-bottom: 30px !important;
}
/* -- Color name -- */
.red {
	color: #F00;
	}
.green {
	color:#23e379;
	}
.white {
	color:#ffffff;
	}
.yellow {
	color:#ffdc00;
	}
.salmon {
	color:#ff9393 !important;
	}
.salmonLight {
	color:#ffc2c1 !important;
	}
.blue {
	color:#0068e8;
	}
.blueLight {
	color:#82d2f5 !important;
	}
.purple {
	color:#5f49cd;hotpink
	}
.hotPink {
	color:#ff9fca;
	}
.gray {
	color:#b7b8b9 !important;
	}
.grayLight {
	color:#ddddde !important;
	}
/* -- background Color -- */
.bgGrayLight {
	background:#e6e6e6 !important;
	}
.bgGrayLight02 {
	background:#aaaaaa !important;
	}
.bgGrayLight03 {
	background:#cecece !important;
	}
.bgGray {
	background:#b7b8b9 !important;
	}
.bgGrayDark {
	background:#787f88 !important;
	}
.bgSalmonLight {
	background:#ffc2c1 !important;
	}
.bgSalmonDark {
	background:#f27373 !important;
	}
.bgRed { 
	background:#ff0000;
}
.bgSalmon {
	background:#ff9393 !important;
	}
.bgWhite {
	background:#ffffff !important;
	}
.bgBlueLight {
	background:#afc7f2 !important;
	}
.bgGreenLight {
	background:#80cebb !important;
	}
.bgYellow {
	background:#f9e37b !important;
	}
.bgYellowDark {
	background:#ffc08e !important;
	}
.bgYellowGreen {
	background:#d9c35d !important;
	}
.bgPurple {
	background:#5f49cd !important;
	}
.bgPurpleLight {
	background:#c8a5de !important;
	}
.bgGrownLight {
	background:#dac59c !important;
	}
.bgOrange{
	background: #FFB893 !important;
}	
/* -- border Color -- */
.bGreen {
	border-top:1px solid #23e379;
	}
.bYellow {
	border-top:1px solid #ffdc00;
	}
.bSalmon {
	border-top:1px solid #f1685a;
	}
.bBlue {
	border-top:1px solid #0068e8;
	}
.bBlueLight {
	border-top:1px solid #82d2f5;
	}
.bPurple {
	border-top:1px solid #5f49cd;
	}
.bHotpink {
	border-top:1px solid #ff9fca;
	}
.clear {
	clear:both;
	}
.fRight {
	float:right;
	}
.fLeft {
	float:left;
	}
.center {
	margin:0px auto;
	}
ul:after {
	content: "";
	display: block;
	clear: both;
}
.bNone {
	border:none !important;
	}


