.fl {
    float: left;
    clear: none;	
}
.fr {
    float: right;
    clear: none;	
}
.mt5 {
    margin-top: 5px;
}
.mt8 {
    margin-top: 8px;
}
.mt10 {
    margin-top: 10px;
}
.form-table {
    width: 100%;
}
.checkbox_item {
    width: 20px;
}
.col-xs-120 {
    width: 98%;
    margin: 0 auto;
}

.col-xs-120 .form-group {
    float: left;
    margin-left: 36px;
    width: 46%;
}
.searchFormLabel {
    width: 100%;
}
#searchForm .pull-right {
    margin-right: 45px;
}
.ml5 {
    margin-left: 5px;
}
.mr8 {
    margin-right: 8px;
}
.mt8 {
    margin-top: 8px;
}
.mt10 {
    margin-top: 10px;
}
.mr10 {
    margin-right: 10px;
}
.paging_bootstrap {
    margin-top: -8px;
}
.pagination { 
    margin-top: 8px;
    margin-right: 2px;
    float: right;
}
.control-label {
    /*color: #f39c12;*/
	color: #333;
}
.cls {	
    clear: both;
}
.form-body {	
    clear: both;
    /*    padding: 12px;*/
}
.button-group {
    margin-top: 22px;
}
.submit {
    margin-right: 5px;
    float: left;
}

.custom-combobox {
    position: relative;
    display: inline-block;
    display: block;
    width: 100%;
    height: 33px;	
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 0px solid #ccc;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.custom-combobox-toggle {
    position: absolute;
    top: 0;
    bottom: 0;
    margin-left: -1px;
    padding: 0;
    right: -2px;
}
.custom-combobox-input {
    margin: 0;
    padding: 5px 10px;
    min-width: 100%;
    background: none;
}
.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl {
    border-bottom-left-radius: 3px;
}
.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl {
    border-top-left-radius: 3px;
}
.ui-corner-bottom, .ui-corner-right, .ui-corner-br {
    border-bottom-right-radius: 0px;
}
.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {
    border-top-right-radius: 3px;
}

.ui-keyboard.ui-corner-all {
    border-radius: 4px;
}

.form-control {
    height: 36px;
    border-color: #d2d6de;
    border-radius: 0 !important;
    box-shadow: none;
}
.Hidden
{
    display: None;
}
.Show
{
    display: block;
}
.input-required {
    color: #f56954;
    margin-left: 1px;
    font-size: 11px;
}
.td_textarea textarea {
    width: 99%;
    height: 80px;
    padding: 4px;
}
.td_select select {
    padding: 2px;
}
.td_input_text input {
    width: 99%;
    padding: 4px;
}
#dialog {
    padding: 0;
    margin: 0;

}


/******************************************************************/

.nomarlText
{
    font-weight:200 !important;
    cursor: pointer;
}
.box .chat .news-feed-item-detail>.message .comment {
    float: left;
}
.box .chat .news-feed-item-detail>.message .date {
    font-size: 12px;
    font-style: italic;
    margin-top: 5px;
    margin-bottom: -5px;
    clear: both;
    float: left;
}
.box .box-header {
    border-bottom: 1px solid #f4f4f4;
    border-radius: 3px 3px 0 0;
    color: #444;
    position: relative;
}
.fa-likes-o {
    background-image: url(../img/clap_off_@3x.png);
}
.fa-likes {
    background-image: url(../img/clap_on_@3x.png);
}

.badge-custom {
    background-color: #777;
    border-radius: 10px;
    color: #fff;
    display: inline-block;
    font-size: 8px;
    font-weight: 700;
    line-height: 1;
    min-width: 10px;
    padding: 3px 5px;
    text-align: center;
    vertical-align: baseline;
    white-space: nowrap;
}

.graph button {
    background: #428bca !important;
    border-color: #428bca !important;
    padding: 1px 4px !important;
}

/* Tag template */
.post-wrap {
    display: inline;
    position: relative;
    height: 22px;
    background-color: #eef;
    float: left;
    margin: 1px 1px 1px 2px;
    padding:.5em .6em .3em;
    border: 1px solid #ddd;
    border-radius: .4em;
    font-size: 75%;
    font-weight: bold;
    line-height: 1;    
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
}
.delete-button{
    position: absolute;
    right: 0px;
    top: 0px;
    margin: 4px 0px;
    border-radius: 4px;
    height: 16px;
    width: 22px;
    overflow: hidden;
    display:none;
}
.delete-button a{
    color:white;
}
.post-wrap:hover .delete-button{
    display:inherit;
}
.button-delete {
    cursor: pointer;
    float: right;
    height: 20px;
    width: 20px;
    padding: 1px 0 1px 0;
    border-radius: 4px 4px 4px 4px;
    background-color: #eef;
    border: 0;
}
.button-delete i {
    margin: 0;
    padding: 0;
}

.tag-wrapper{
    float: left;
    width: 100%;

}
.tag-wrapper:hover {
    background: #eee;
} 

.tag-select{
    padding: 0 2px 0 2px;
    height: 20px;
    display: none;
    border-radius: 4px;
    color: #6e7e91;
    float: left;
    height: auto;
    margin: 2px 2px 2px 1px;
    padding-left: 1px;
    position: relative;
}
.tag-select select{
    height: 20px;
}

.tag-plus{
    width: 20px;
    cursor: pointer;
    border-radius: 4px;
    color: #6e7e91;
    height: auto;
    float: left;
    margin-top: 4px;
    margin-bottom: 2px;
    margin-right: 2px;
    padding-left: 1px;
    position: relative;
    float: right;
}
.crop-img {
    float: right;
    margin-right: 2px;
    margin-top: 3px;
}
.other-box {
    margin: 0px auto 0 auto;
}
.other-box {
    width: 100%;
}
.body-other {
    background: #fff;
}
.property.tags .tags-icon {
    background-image: url(https://app.asana.com/-/static/apps/asana/media/sprite.png?1420778355);
    background-position: -498px -1699px;
    background-repeat: no-repeat;
    height: 14px;
    vertical-align: text-bottom;
}
.sidebar .sidebar-menu {
    margin-bottom: 30px;
}
.resendUrl {
    text-decoration: underline;
    margin-top: 8px;
}
.paging_sumary {
    float: right;
    display: inline-block;
    padding-right: 8px;
    margin-top: 15px;
}
#newsfeeds_import .error-message {
    display: none;
}
.bg-grey:hover {	
    color: #000;
}

.group-checkbox .form-control {
    border: 0;
    float: left;
    width: 18%;
    position: relative;
}

.group-checkbox .form-control label{
    padding-left: 3px;
    position: absolute;
    font-weight: 200;
}

/* calendar */
table.calendar_control      {  width: 100%; margin-bottom: 10px;}
table.calendar_control a     {  color: #3c8dbc; }
table.calendar-table      {  width: 100%; }
table.table-bordered {
    border: 1px solid #dddddd;
    border-left: 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border-collapse :separate;
    //margin-top: -4px;
}
table.calendar-table th {  
  border: none !important;
  white-space: nowrap;
  background-color: #DDD !important;

}

table.calendar-table td {
    background: #fff;
    height: 100px !important;
}

tr.calendar-row {
}

td.calendar-day {
    min-height: 80px;
    position: relative;
}

* html div.calendar-day {
    height: 80px;
}

td.calendar-day:hover, table.calendar-table td.today:hover {
    background: #eceff5;
}

td.calendar-day-np {
    background: #eee !important;
    min-height: 80px;
}

* html div.calendar-day-np {
    height: 80px;
}

td.calendar-day-head {
    background: #ccc;
    font-weight: bold;
    text-align: center;
    width: 120px;
    padding: 5px;
    border-bottom: 1px solid #999;
    border-top: 1px solid #999;
    border-right: 1px solid #999;
}

div.day-number {
    float: left;
    margin: -5px -5px 0 0;
    width: 30px;
    text-align: center;
    font-size: 110%;
    font-weight: bold;
}

div.day-data {
    font-size: 15px;
    color: #000;
    float: left;
    margin: 0 -5px 0 0;
    clear: both
}
div.day-data a {
    color: #000;
}
div.day-limit {
    font-size: 20px;
    color: #009900;
    font-weight: bold;
    float: right;
    margin: -5px 0 0 0;
    text-align: center;
}

td.calendar-day, td.calendar-day-np {
    width: 120px;
    padding: 5px;
    border-bottom: 1px solid #999;
    border-right: 1px solid #999;
}

table.calendar-table td.sun {
    color: red;
}
table.calendar-table td.sun a {
    color: red;
}
table.calendar-table td.today {
    background: #ffff00;
}
table.calendar-table td.holiday-today a{
    color: #FFFF00;
}
table.calendar-table td.holiday {
    background: #FF8888 !important;
}

span.search-customer {
    float: left;
    padding-right: 15px;
}

span.search-customer select.form-control{
    height: 30px;
}

#bgPopup {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:#000;
    opacity:0.7;
    z-index:998;
}
#succeedPopup {
    position:fixed;
    top:10%;
    left:26%;
    width:902px;
    height:662px;
    padding:50px 20px;
    background:#FFF;
    z-index:999;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
}
#succeedPopup .close {
    position:absolute;
    top:70px;
    right:70px;
}
#succeedPopup .close a:hover {
    opacity:0.7;
}
#succeedPopup .content {
    width:765px;
    color:#ff9393;
    font-size:45px;
    line-height:200%;
    text-align:center;
    margin:0px auto;
    margin-top:150px;
}


div#OrderDailyModal {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 320px;
    margin: -101px 0 0 -251px;
    z-index: 9999;
}

div#OrderDailyModal .modal-dialog {
    width: auto;
}

div#HolidayModal {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 350px;
    margin: -15% 0 0 -10%;
    z-index: 9999;
}

div#HolidayModal .modal-dialog {
    width: auto;
}

.alert-warning { 
	color: #8a6d3b !important;
	background-color: #fcf8e3 !important;
	border-color: #faebcc;
}
.alert-success {
  color: #3c763d !important;
  background-color: #dff0d8 !important;
  border-color: #d6e9c6;
}

.error {
    color: #F00000  ;
}
.succeed {
    color: #00FFFF;
    text-align: center;
}

.dl-horizontal dd {
    margin-bottom: 10px;
}

/* Custom error message for control phone */
div.error .input-group{
    padding-bottom: 15px;
}

div.error .input-group .control-label{
    position: absolute;
    left: 0;
    top: 35px;
}

/*custom for booking dialog*/
.btn-success {
  color: #fff !important;
/*   background-color: #5cb85c !important; */
/*   border-color: #4cae4c !important; */
}

.btn-danger {
  color: #fff !important;
/*   background-color: #d9534f !important; */
/*   border-color: #d43f3a !important; */
}

.item-list select {
    border: 1px solid #ccc;
}

.orderItem {
    width: 100%;
}
.orderItem input {
    border: 1px solid #ccc;
    width: 42px;
    height: 20px;
    padding-bottom: 12px;
    margin-right: 3px;
    font-size: 14px;
    padding-left: 5px;
}

.orderItem a {
    text-decoration: none;
    color: #3213F4;
}

.delButton a {
  font-size: small;
  border: 1px solid #ff9393;
  color: #ff9393;
  padding: 0 5px;
}

.priceAll {
    display: inline-block;
    width: 90px;
}

.aCenter {
    margin: 10px auto;
}

.registerButton a {
    border: 1px solid #fff;
    background-color: #fff;
    padding: 2px 25px;
    margin: 0px 10px 0px 0px;
    border-radius: 5px;
    color: #ff9393;
}
.registerButton {
    vertical-align:middle !important;
}

.item_list .orderItem .bgArrowQty {
  height: 30px;
}
.item_list .orderItem .arrowBlock {
  height: 30px !important;
  margin-left: -2px;
}
.item_list .orderItem .upQty,
.item_list .orderItem .downQty {
  float: left;
  margin-left: 0px;
  margin-top: 0px;
  height: 16px;
  width: 18px;
  display: block;
  border: none;
}
.item_list .orderItem .upQty {
  background: url(../img/ico_gallery.png) no-repeat left -220px transparent;
}
.item_list .orderItem .upQty:hover {
  background: url(../img/ico_gallery.png) no-repeat left -280px transparent;
}
.item_list .orderItem .downQty:hover {
  background: url(../img/ico_gallery.png) no-repeat left -296px transparent;
}
.item_list .orderItem .downQty {
  background: url(../img/ico_gallery.png) no-repeat left -236px transparent;
}
.item_list .orderItem .qty-input {
  width: 50px;
  text-align: left;
  height: 30px !important;
  font-size: 14px !important;
  margin: 0 !important;
  -webkit-border-top-left-radius: 4px !important;
  -webkit-border-bottom-left-radius: 4px !important;
  -moz-border-radius-topleft: 4px !important;
  -moz-border-radius-bottomleft: 4px !important;
  border-top-left-radius: 4px !important;
  border-bottom-left-radius: 4px !important;
}
.item_list .bgArrowQty {
  width: 90px !important;
}
.item_list .step-box-button {
  float: left;
  width: 430px;
  margin-top: -3px;
  margin-left: 10px;
  position: relative;
}

.arrowBlock {
    position: absolute !important;
    right: 23px;
    top: -4px;
    width: 10px;
}

.bgArrowQty {
    position: relative;
}

.nailInfo .price li {
    height: 45px !important;
}

.nailInfo .price li.item-list {
    height: 60px !important;
}

.error_booking_custom
{
    color: #f39c12;
}

ul.item_list {
    min-height: 260px;
}

ul.nailPrice {
    border-top: 2px solid #ff9393;
}

span.readonly-textbox {
    display: inline-block;
    padding: 10px 10px;
    font-weight: bold;
    vertical-align: top;
    text-align: left;
    background-color: #FFF;
    border-radius: 5px;
    color: #717071;
    font-size: 18px;
    min-height: 44px;
    vertical-align: middle;
}

.readonly-textbox.border {
    border: 1px solid #CCC;
}

.section.readonly span {
  vertical-align: middle;
}

#orders_lists form {
	margin-bottom: 0px;
}
#orders_lists .navbar.subnav {
    margin-bottom: 0px;
}

.timely-limit {
    //width: 35%;
    width: 80px;
    margin: 0 auto;
    display: inline-block;
    float: right;
}

.timely-limit label {
    //width: 62px;
    width: 30px;
    display: inline-block;
    vertical-align: middle;
    font-weight: 600;
    color: #999;
    text-align: right;
    font-size: 11px;
}

.timely-limit input {
    margin-left: 5px;
    width: 40px;
    height: 30px !important;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 0 !important;
    margin-right: 0 !important;
    text-align: center;
}

.timely_time {
    width: 60px;
    display: inline-block;
    vertical-align: middle;
    font-weight: bold;
    color: #49afcd;
}

table.calendar-table.timely-table td {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    height: auto !important;
    background: none;
}

#ordertimelylimits_index .navbar-inner {
    height: 47px;
}

.timely-table tr:nth-child(odd) {
    background: #EFF7F9  !important;
}

.taxLabel {
  font-size: 11px !important;
}

@media only screen 
  and (min-device-width: 600px) 
  and (max-device-width: 1024px)
  and (-webkit-min-device-pixel-ratio: 1) {
    .timely-limit {
        //width: 100% !important;
        width: 50px !important;
        margin-left: 20px;
    }
    .timely_time {
        //width: 100% !important;       
    }
    .timely-limit label {
        width: 60%;
        font-size: 14px;
    }
    .timely-limit input {
        height: 30px !important;
        margin: 5px !important;
    }
    #ordertimelylimits_index .navbar-inner {
        height: 84px;
    }
    .taxLabel {
    font-size: 10px !important;
  }
}
#ordertimelylimits_index .pull-right {
    margin-bottom: 20px;
}

#orders_lists .container-fluid {
    padding-left: 0px;
    padding-right: 0px;
}
#orders_lists .row {
    padding-left: 8px;
    padding-right: 8px;    
}
#reservations-index h1 {    
    margin-top: 5px;
}

.content-wrapper {
    padding-bottom: 30px;
}
/* Custom dialog */
.ui-dialog .ui-dialog-buttonpane {
    border-width: 0;
}
.btnCloseDialog{
    margin-top: -30px;
}
.wP100.arrow_02.select_style {
    padding: 5px !important;
    }

.dialogBox{
    padding-top: 0px !important;
}
.btnFB{
    font-weight: bold;
    color: white !important;
    margin: 0 auto !important;
    width: 24.5%;
}
.btn-salmon{
    background: none repeat scroll 0 0 #ff7b7d !important;
}
#reservations-timedial table {
    margin: 0;
}
.timebar  {
	/*text-align: center;*/
}
.qrcode {
	min-height: 20px;
	padding: 10px;
	background-color: #f5f5f5;
	border: 1px solid #e3e3e3;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
}
.calendar-day-head {
    font-size: 120%;
}

.timetable-table .disabled {
	background-color: #999;
}

.timetable-table .faked-disabled {
	background-color: #999;
}

#orders_seat .ui-draggable, 
#pages_index .ui-draggable{
    cursor: default !important;
    border-radius: 5px !important;
}

#pages_index .container-fluid,
#orders_seat .container-fluid {
    padding-right: 10px;
    padding-left: 10px;  
}

#orders_seat .btnCloseDialog .btn,
#pages_index .btnCloseDialog .btn,
 {
 border-radius: 5px !important;
}
#orders_seat .btn.disabled, #orders_seat  .btn[disabled],
#pages_index .btn.disabled, #pages_index .btn[disabled] {
    background-color: #999 !important;
}

.custom_inner {
    height: 110px;
    padding: 20px !important;
}.custom_inner h3 {
    color: white;
}
.custom_icon{
    top:10px !important;
}
.custom-small-box{
    border-radius: 2px !important;
}
#pages_index .content,
#orders_seat .content
{
    min-height: 20px
}

.title-purpose{
    float: left; 
    width: 23px;
}
.content-purpose{
    padding-left: 15px;
}
#pages_index table th, table td,
#orders_seat table th, table td  {
    vertical-align: top;
}
.main-header {
    background-color: #D5000D;
}
@media screen 
    and (max-width: 1114px) {
    .navbar.subnav {  
        margin-top: 42px;
    }
}
#reservations-timedial {   
    margin-top: 7px;
}
.navbar .btn, .navbar .btn-group {
    margin-top: 8px;
}

/* Custome CSS for status Orders/lists */

.o_status[data-class="1"] span{
    background-color: #fc3 !important;
    border: 1px solid #ca0;
    color: black !important;
}
.o_status[data-class="2"] span{
    border: 0px solid #006dcc !important;
    background-color: #006dcc !important;
}
.o_status[data-class="3"] span{
    border: 1px solid #b3b3b3 !important;
    background-color: #b3b3b3 !important;
}
.o_status[data-class="4"] span{
    border: 1px solid red !important;
    background-color: red !important;
}
.o_status[data-class="5"] span{
    border: 1px solid #000 !important;
    background-color: white !important;
    color: black !important;
}
.breakRow{
    border-top: 2px solid #d5000d;
}
/* CUSTOM CSS FOR MEDICALCHART*/
.nailInfo .style li .title {
    position: relative;
    /*max-width: 250px;*/
    background-color: #ffc2c1;
}
.nailInfo div.fLeft li div.title i{
    left:85%;
    position: absolute;
    cursor: pointer;
}

li.item {
    background: #fff none repeat scroll 0 0;
    border-radius: 3px;
    padding: 10px 0;
}
.picDetail .btn{
    display: block;
    padding: 0px;
}
.modal-dialog{
   margin: 100px auto 20px;
}
body {
    color: #717071 !important;
    font-family: メイリオ,Meiryo,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","ＭＳ Ｐゴシック","MS PGothic",sans-serif !important;
    font-size: 14px !important;
    line-height: 24px !important;
}
#medicalchart .nailInfo .style li .is_change {
    /*background: rgba(255, 147, 147, 0.14);*/
    background: rgb(252, 233, 233);
}

/* Custom style for nail section */
.mB0{
    margin-bottom: 0px;
}
#nailItem .itemContent {
    position: relative;
    width: 100%;
    cursor: pointer;
}
#nailItem li:last-child{
    margin-right: 0px;
}
#nailItem li {
   border: 1px solid #ffc2c1;
    border-radius: 5px;
    float: left;
    font-weight: bold;
    height: 30px !important;
    line-height: 100%;
    margin-right: 1%;
    min-height: 30px;
    padding: 8px;
    width: 24.2%;
}

#nailItem li div.itemContent i {
    cursor: pointer;
    left: 85%;
    position: absolute;
}

.alert h4 {
    margin-bottom: 2px;
}

#medicalchart .modal-content{
    border-radius: 5px;
}

.result_sumary{
    display: none;
    float: right;
    font-weight: bold;
    margin: 8px 0 0 10px;
    color: rgba(60, 141, 188, 0.8);
    font-size: 15px;
}

/*Undo medical box*/

#undo-medical-box{
	 display: none;
	 position: fixed;  
	 top: 30px;  
	 left: 180px; 
	 width: 10%; 
	 z-index: 999;
}

@media ( min-width: 768px) {
    #undo-medical-box{
        display: none;
        position: fixed;  
        top: 50px ;  
        left: 115px ; 
        width: 15%; 
        z-index: 999;
    }
}

@media ( min-width: 1024px) {
    #undo-medical-box{
        display: none;
        position: fixed;  
        top: 30px;  
        left: 130px; 
        width: 15%; 
        z-index: 999;
    }
}

#undo-medical-box.active{
	display: block !important;
}

#undo-medical-box .small-box.bkgd{
	border:	1px solid silver;
	background-color: rgb(253, 230, 203);
}

#undo-medical-box .undo-close{
	float: right;
	font-size: 20px;
	font-weight: 700;  
	opacity: 0.2; 
	padding-right: 5px;
}

#undo-medical-box .inner-text{
	text-align: center; 
	 font-size: 20px;
}

/*Dropdown nailist*/
.dropList .ul_03 {
   z-index: 77; 
}
.dropList ul {
    width: 100%;
    padding: 0px;
    list-style: none;
    position: relative;
    display: inline-table;
}

.dropList ul li {
  position: relative;
  width: 100%;
  height: 60px;
  margin-bottom: 10px;
  background: #ff7071;
}

.dropList ul .user a {
  width: 100%;
  height: 60px;
  padding: 12px 18px !important;
  font-size: 24px;
}

.dropList ul .user a.user-log {
  padding: 18px 52px !important;
}

.dropList ul li a {
  width: 100%;
  height: 100%;
  display: block;
  padding: 10px 18px;
  padding-top: 18px;
  color: #FFF;
  text-decoration: none;
}

.dropList ul .navDown_02 {
  right: 5px !important;
}
.dropList ul .navDown_02 {
  position: absolute;
  top: 16px;
  right: 10px;
  width: 60px;
  height: 30px;
  font-size: 11px;
  text-align: center;
  line-height: 120%;
  color: #FFF;
  padding-top: 0px;
  background: url(../images/nav_down.png) center bottom no-repeat;
  background-size: 30%;
  pointer-events: none;
}
.user span {
  line-height: 180%;
}

.dropList ul ul {
  padding: 0;
  width: 100%;
  position: absolute;
  top: 100%;
  left: 0px;
  z-index: 888;
}
.dropList ul ul {
  display: none;
}

.dropList ul ul li {
  float: none;
  position: relative;
  background: #ddddde;
  width: 100%;
  height: 60px;
  margin-bottom: 0px;
}

.dropList ul .user a {
  width: 360px;
}
.dropList ul .user a {
  width: 100%;
  height: 60px;
  padding: 12px 18px !important;
  font-size: 24px;
  font-weight: normal;
}
.dropList ul ul li a {
  width: 100%;
  height: 60px;
  padding: 18px 18px;
  color: #717071 !important;
  border-bottom: 1px solid #FFF;
  background: #ddddde;
}

.dropList ul ul li a:hover {
    background: #b7b8b9;
    color:#FFF !important;
}
.dropList ul li a {
  width: 100%;
  height: 100%;
  display: block;
  padding: 10px 18px;
  padding-top: 18px;
  color: #FFF;
  text-decoration: none;
}

.dropList ul li .avatar {
  width: 42px;
  height: 37px;
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  -webkit-border-radius: 0 !important;
}

.dropList ul li .avatar img {
  width: initial;
  height: 37px;
  position: relative;
  left: 0px;
}

.dropList{
/*    margin-bottom: -20px;*/
}

/*header direction*/
.direction {
    position: absolute;
    top: 15px;
    left: 100px;
    width: 155px;
    font-size:25px;
}

.direction ul li {
    display: inline;
    color: #ff9393;
}

.direction ul li a{
    color: #ff9393;
}

.direction ul li a.disable{
    color: grey;
    cursor: default;
}

.direction ul li a:hover{
    color: #ffc2c1;
}
.direction ul li a:hover.disable{
    color: grey;
}

.med-position {
   position: absolute;
   top: 9px;
   left: 230px;
   background-color: #ff9393;
   padding: 10px;
   height: 38px;
   text-align: center;
}

.med-position .inner-position {
    background-color: white;
    color: red;
    font-weight: 900;
    font-size: 15px;
    height: 20px;
    margin-top: -1px;
    padding: 0px 10px 0px 10px;
}

@media screen and (max-width:768px) and (max-height:1024px){
    .med-position {
        position: absolute;
        top: 45px;
        left: 115px;
        background-color: #ff9393;
        padding: 10px;
        height: 38px;
        text-align: center;
    }
}

#users_index .mt5 {
    float: left;
    margin-right: 10px;
}


.navbar-nav > .notifications-menu > .dropdown-menu > li .menu{
    max-height: 500px;
}
.navbar .nav>li>.dropdown-menu:before{
    left: auto;
    right: 9px;
}
.navbar .nav>li>.dropdown-menu:after{
    left: auto;
    right: 10px;
}
/*.calendar-order-status #seat-status-normal {
    background-color: #e6e6e6;
    border-color: #adadad;
    color: #333333;
}*/
#seat-status-normal {
    width: 54px;
}
#seat-status-disable {
    width: 64px;
}
#seat-status-enable {
    width: 64px;
}
.point_convert {
    border-top: 3px solid #ff9393;
}
.point_convert li {
    border-bottom: none!important;
    padding-right: 20px!important;
}
.point_convert li.r_point {
    margin-bottom: -10px;
}
.point_convert li.fn_point {
    margin-top: -20px;
}
.point_convert li .info {
    margin-top: 10px;
}
.point_convert li.sub_total {
    margin-top: 5px;
}
.point_convert li.fn_point .info{
    margin-top: 0;
}
.point_convert .price_point {
    color: #FF0000;
}
.table td {
    word-break: break-all;
}
.sort-col {
    text-decoration: none !important;
    color: #4A4A4A;
    font-size: 12px;
    font-weight: bold !important;
}

@media screen 
    and (max-width: 960px) {
    .ui-dialog {
        width: 100% !important;
        height: auto !important;      
        left: 0px !important;      
    }           
}