@charset "utf-8";

.dialogBox {
		width:800px;
		padding:20px;
		padding-bottom:0px;
		margin:0px auto;
		margin-top:20px;
		-webkit-border-radius:5px;
		-moz-border-radius:5px;
		border-radius:5px;
		border:1px solid #CCC;
		font-size:18px;
		}
	.bt_top {
		text-align:right;
		margin-bottom:30px;
		}
		.bt_top .btn {
			width:auto;
			text-align:center;
			display:inline-block;
			-webkit-border-radius:5px;
			-moz-border-radius:5px;
			border-radius:5px;
			}
			.bt_top .btn a {
				display:block;
				text-align:center;
				padding:10px;
				color:#FFF;
				-webkit-border-radius:5px;
				-moz-border-radius:5px;
				border-radius:5px;
				line-height:100%;
			}
			.bt_top .btn a:hover, .btnGroup .btn.salmon a:hover, .btnGroup .btn.gray a:hover {
				background:#666;
				}
		.bt_top .btn.blue {
			background:#006fc0;
			}
		.btnGroup {
			width:100%;
			margin-bottom:20px;
			}
		.btnGroup:after {
			display:block;
			content:"";
			clear:both;
			}
		.btnGroup .btn, .bt_top .btn {
			display:inline-block;
			-webkit-border-radius:5px;
			-moz-border-radius:5px;
			border-radius:5px;
			}
		.btnGroup .btn a {
			display:block;
			text-align:center;
			padding:10px;
			color:#FFF;
			-webkit-border-radius:5px;
			-moz-border-radius:5px;
			border-radius:5px;
			line-height:100%;
			}
		.btnGroup .btn.salmon {
			background: #ff7b7d;
			}
		.btnGroup .btn.four {
			width:23%;
			float:left;
			margin:0;
			margin-right:2.666%;
			}
			.btnGroup .btn:last-child {
				margin-right:0;
				}
		.btnGroup .btn.one {
			display:block;
			width:20%;
			margin:0 auto;
			}
		.btnGroup .btn.gray {
			background: #999;
			}
		table {
			margin-bottom:20px;
			}
		table th, table td {
			text-align:left;
			}
		.dialogSelect {
			width:100%;
			height:40px;
			}
		.titleSelect {
			margin-bottom:5px;
			}
		.sectionSelect {
			margin-bottom:20px;
			}
.wP100.arrow_02.select_style {
	background:url(../images/arrow_select_02.png) 98% 12px no-repeat;
	background-size:3%;
	background-color:#FFF;
  	-webkit-appearance: none;
  	-moz-appearance: none;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	padding:10px;
}
select::-ms-expand {
    display: none;
}
select.select_style option {
	padding:10px 15px;
	}
.wP100 {
	width:100%;
	}