@charset "utf-8";

* {
	font-family: "Hiragino Kaku Gothic ProN", "游ゴシック", "Yu Gothic", YuGothic, Meiryo, sans-serif;
}

html{
	height: 100%;
}

body{
	width: 100%;
}

section{
	width: 100%;
}

header{
	width: 100%;
	height: 600px;
	background-image:url(../img/firstview_bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

a:hover,
a img:hover {
	opacity: 0.8;
}

a img:hover {
	-webkit-transform: scale(1.01);
	   -moz-transform: scale(1.01);
	    -ms-transform: scale(1.01);
	     -o-transform: scale(1.01);
	        transform: scale(1.01);
}

.sec_inner{
	width: 980px;
	margin: 0 auto;
	z-index: 1;
}

.left{
	width: 490px;
	float: left;
}

.right{
	width: 490px;
	float: left;
}

.sec_content_01 .sec_inner .right {
		width: 490px;
	float: right;
}
.sec_content_01 .sec_inner .left {
		width: 490px;
	float: left;
}

.sec_inner h1 {
	position: relative;
	width: 250px;
	padding-top: 60px;
	display: block;
}

header .sec_inner h2 {
	position: relative;
	width: 250px;
	padding-top: 80px;
	display: inline-block;
}

header .dl_btns {
	width: 454px;
	margin-top: 90px;
}

header .dl_btns img {
	margin-right: 35px;
}

.for_company_btn {
	position: absolute;
	float: right;
	right: 0;
	top: 20px;
	width: 200px;
	background-color: #FFF;
	text-align: center;
}

.for_company_btn:hover {
	transform: translate(5px);
	-moz-transform: translate(5px);
	-webkit-transform: translate(5px);
	-o-transform: translate(5px);
	-ms-transform: translate(5px);
}

.for_company_btn a {
	font-size: 11px;
	text-align: center;
	color: #254c9f;
	text-decoration: none;
	display: inline-block;
	width: 200px;
	line-height: 38px;
}

.iphone {
	position: relative;
	width: 420px;
	height: 620px;
	margin-top: 90px;
	background-image: url(../img/iphone_first.png);
	background-size: 420px;
	background-repeat: no-repeat;
	float: right;
	z-index: 1000;
}

.media_area {
	width: 100%;
	height: 136px;
	border-bottom: solid #e3e5ea 1px;
}

.sec_content_01,.sec_content_02 {
	height: 650px;
	border-bottom: solid 1px #e3e5ea;
}

.sec_content_02 {
	background: #f2f3f5;
}

.sec_content_01 h2,.sec_content_02 h2 {
	font-size: 27px;
	line-height: 1.6em;
	letter-spacing: 0.2em;
	padding-top: 20px;
	font-weight: bold;
}

.sec_content_01 p,.sec_content_02 p {
	font-size: 16px;
	font-weight: normal;
	line-height: 1.6em;
	letter-spacing: 0.2em;
	margin-top: 37px;
}

.sec_content_01 img,.sec_content_02 img {
	margin-top: 37px;
}

.sec_content_01 h3 img,
.sec_content_02 h3 img {
	margin-top: 80px;
	margin-left: 0px;
}

.sec_content_01 img {
	margin-left: 80px;
}

.sec_content_02 img {
	margin-left: 110px;
	padding-top: 30px;
}

.dl_sec {
	height: 234px;
	background-image: url(../img/footer_cv_bg.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	padding-top: 15px;
	margin-top: -66px;
	position: absolute;
	z-index: 2;

}
.dl_sec h2 {
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	color: #FFF;
	padding-top: 38px;
}

.dl_sec .dl_btns {
	width: 454px;
	margin: 60px auto 0;
	display: block;

}

.dl_sec .dl_btns img {
	margin:0 17px;
}

.news_area {
	padding-top: 75px;
	margin-top: 160px;
}

.news_area h2 {
	font-weight: bold;
	color: #1f489d;
	text-align: center;
}

.news_area dl {
	font-size: 14px;
	width: 700px;
	margin: 50px auto;
	line-height: 1.6em;
	letter-spacing: 0.1em
}

.news_area dt {
	width: 200px;
	display: inline-block;
}

.news_area dd {
	width: 500px;
	display: inline-block;
	float: right;
}

.fb_like_box {
	width: 709px;
	margin: 58px auto 70px;
}

footer ul {
	font-size: 11px;
	margin: 0 auto 30px;
	width: 340px;
	display: block;
}

footer li {
	display: inline;
	float: center;
	margin: 0 10px;
}

address {
	font-size: 11px;
	color:#7c878c;
	text-align: center;
	text-decoration: none;
	margin-bottom: 50px;
}

/* コンタクト */

.sec_inner_contact {
	width: 800px;
	padding-top: 60px;
	margin: 0 auto;
	z-index: 1;
}

.contact_form {
	padding: 24px 0 0;
}

.contact_form dl {
	width: 100%;
	height: auto;
	display: table;
}

.contact_form dt {
	margin: 18px 0;
	float: left;
	position: relative;
	font-weight: bold;
	padding-left: 67px;
	color: #222;
	line-height: 44px;
}

.contact_form dt:before {
	content: '必須';
	display: block;
	background: #1f489d;
	color: #fff;
	font-size: 11px;
	font-weight: bold;
	text-align: center;
	height: 20px;
	line-height: 21px;
	width: 50px;
	position: absolute;
	top: 12px;
	left: 0;
}

.contact_form dt.option:before {
	content: '任意';
	display: block;
	background: #BBB;
	color: #fff;
	font-size: 11px;
	font-weight: bold;
	text-align: center;
	height: 20px;
	line-height: 21px;
	width: 50px;
	position: absolute;
	top: 12px;
	left: 0;
}

.contact_form dd {
	float: right;
	width: 580px;
	margin: 18px 0;
	/*padding: 21px 0 30px;*/
}

input[type=text]:focus, input[type=email]:focus, input[type=tel]:focus, input[type=submit]:focus, textarea:focus, select:focus {
	outline: none;
	border: 1px solid #23c3e1;
}

input[type=text], input[type=email], input[type=tel] ,select{
	height: 44px;
	padding: 0;
	width: 100%;
	text-indent: 26px;
	font-size: 15px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	border: 4px solid #d3d8db;
	-webkit-appearance: none;
	border-radius: 0;
}

input[type=submit] {
	width: 360px;
	font-size: 17px;
	height: 70px;
	line-height: 70px;
	text-align: center;
	background: #E51781;
	color: #fff;
	border: none;
	-webkit-appearance: none;
	border-radius: 0;
	cursor: pointer;
	background-image: url(../img/index/arrow_white.png);
	background-size: 9px 14px;
	background-position: 33px 29px;
	background-repeat: no-repeat;
}

textarea {
	font-size: 15px;
	padding: 20px;
	border: 4px solid #d3d8db;
	box-sizing: border-box;
	width: 100%;
	height: 180px;
	resize: none;
	-webkit-appearance: none;
	border-radius: 0;
}

#errmsg {
	margin-top: 20px;
	font-size: 18px;
	color: red;
}

#contact-form tr {
	height: 40px;
}

#contact-form th {
	width: 30%;
}


@media screen and (max-width:768px) {

	* {
		box-sizing: border-box;
	}

	header {
		width: 100%;
		height: 950px;
		background-image:url(../img/firstview_bg.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
	}

	section {
		width: 100% !important;
		text-align: center;
	}

	.left {
		width: 100%;
		text-align: center;
	}

	.right {
		width: 100%;
		text-align: center;
	}

	header .left h1 {
		margin: auto;
	}

	header .sec_inner h2 {
		position: relative;
		width: 250px;
		padding-top: 40px;
		display: inline-block;
	}

	header .right {
		margin: auto;
		text-align: center;
	}

	header .dl_btns {
	width: 454px;
	margin-top: 40px;
	}

	.sec_content_01 p, .sec_content_02 p {
		font-size: 11px;
		font-weight: normal;
		line-height: 1.6em;
		letter-spacing: 0.2em;
		margin-top: 37px;
		text-align: left;
	}

	.iphone {
	background-image: url(../img/iphone_first.png);
	background-size: 250px;
	background-repeat: no-repeat;
	margin: 30px auto;
	z-index: 1000;
	width: 250px;
	float: none;
	height: 400px;
	}

	.media_area {
		width: 100%;
		height: 36px;
		border-bottom: solid #e3e5ea 1px;
	}

	.sec_inner{
		width: 250px;
		text-align: center;
	}

	.sec_content_01{
		width: 100%;
		height: 800px;
		text-align: center;
	}

	.sec_content_01 .right{
		margin: auto;
	}

	.sec_content_01 .left{
		width: 250px !important;
	}

	.sec_content_02{
		height: auto;
	}

	.sec_content_01 .sec_content_02{
	height: 1000px;
	border-bottom: solid 1px #e3e5ea;
	}

	.sec_content_02{
		background: #f2f3f5;
	}

	.sec_content_01 h2,.sec_content_02 h2{
	font-size: 20px;
	line-height: 1.6em;
	letter-spacing: 0.1em;
	padding-top: 20px;
	font-weight: bold;
	width: 250px;
	}

	.sec_content_01 .sec_inner .right{
		width: 100%;
		float: left;
	}

	.sec_inner img{
		width: 250px;
		margin: 20px auto 0;
	}

	.sec_content_01 .sec_inner .right{
		width: 250px;
		text-align: center;
		margin: auto;}

	.sec_content_01 .sec_inner .right h2{
		padding-top: 40px;
		text-align: left;
	}

	.sec_content_01 h3 img, .sec_content_02 h3 img {
		width:30%;
		margin-top: 20px;
	}

	.sec_content_02 h3 img {
		padding-top: 0px;
	}

	.sec_content_02 .sec_inner .left{
		text-align: center;

	}

	.sec_content_02 .sec_inner img{
		text-align: center;
	}

	.dl_sec{
		width: 100%;
		height: 264px;
		background-image: url(../img/footer_cv_bg.jpg);
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		padding-top: 24px;
		margin-top: -90px;
	}

	.dl_sec .dl_btns {
		width: 454px;
		margin: 38px auto 0;
		display: block;
	}

	.dl_sec h2 {
		width: 100%;
		text-align: center;
		margin: auto;
		font-size: 15px;
		font-weight: bold;
		text-align: center;
		color: #FFF;
		padding-top: 5px;
	}

	 .dl_btns {
		display: block;
		width: 250px !important;
		text-align: center;
		margin: 50px auto ;
	}

	 .dl_btns img {
		width: 180px;
		text-align: center;
		margin: 10px 0 0 0 !important;
	}

	.news_area {
		width: 100%;
		text-align: center;
		margin-top: 140px;
	}

	.sec_inner	dl {
		margin: 10px auto;
		width: 250px;
	}

	.sec_inner	dd {
		margin:  auto;
		width: 250px;
		font-size: 10px;
		letter-spacing: 0em;
	}

	.sec_inner	dt {
		margin: 10px auto 0px;
	}

	.fb_like_box {
		margin: 58px auto 70px;
		width: 100%;
		padding: 0 10px;
	}

	footer ul {
		width: 250px;
	}

	footer li {
		display: inline;
		float: center;
		display: block;
		width: 100%;
		text-align: center;
		line-height: 3.6em;
	}

	/* コンタクト */

	.sec_inner_contact {
		padding: 0 20px;
	}

	.contact_form dd {
		float: none;
		width: 100%;
		margin: 0px auto;
	}

	.contact_form dt {
		margin: 18px 0 20px;
		float: none;
		position: relative;
		font-weight: bold;
		padding-left: 67px;
		color: #222;
		line-height: 44px;
		text-align: left;
	}

	input[type=text]::-webkit-input-placeholder,
	input[type=email]::-webkit-input-placeholder,
	input[type=tel]::-webkit-input-placeholder,
	textarea::-webkit-input-placeholder {
		font-size: 10px;
	}

	input[type=text]:-moz-placeholder,
	input[type=email]:-moz-placeholder,
	input[type=tel]:-moz-placeholder,
	textarea:-moz-placeholder {
		font-size: 10px;
	}

	span.wpcf7-list-item{
		display: block;
	}

	.submit_btn {
		width: 100%;
		text-align: center;
	}

	input[type=submit] {
		margin: 20px auto 0;
		width: 80%;
		font-size: 16px;
	}

}


/* Transition */
*, *:after, *:before {

    -webkit-transition: 
    	-webkit-transform 0.42s cubic-bezier(.15,.05,.3,.98),
    	text-shadow 0.42s cubic-bezier(.37,.28,.54,.95),
    	opacity 0.3s ease-out,
    	box-shadow 0.46s cubic-bezier(.27,.35,.48,.99),
    	color 0.42s cubic-bezier(.42,.17,.45,.98),
    	background-color 0.26s cubic-bezier(.42,.17,.45,.98),
    	border 0.3s ease-out;

    -moz-transition: 
    	-moz-transform 0.42s cubic-bezier(.15,.05,.3,.98),
    	text-shadow 0.42s cubic-bezier(.37,.28,.54,.95),
    	opacity 0.3s ease-out,
    	box-shadow 0.46s cubic-bezier(.27,.35,.48,.99),
    	color 0.42s cubic-bezier(.42,.17,.45,.98),
    	background-color 0.26s cubic-bezier(.42,.17,.45,.98),
    	border 0.3s ease-out;

    -ms-transition: 
    	-ms-transform 0.42s cubic-bezier(.15,.05,.3,.98),
    	text-shadow 0.42s cubic-bezier(.37,.28,.54,.95),
    	opacity 0.3s ease-out,
    	box-shadow 0.46s cubic-bezier(.27,.35,.48,.99),
    	color 0.42s cubic-bezier(.42,.17,.45,.98),
    	background-color 0.26s cubic-bezier(.42,.17,.45,.98),
    	border 0.3s ease-out;

    -o-transition: 
    	-o-transform 0.42s cubic-bezier(.15,.05,.3,.98),
    	text-shadow 0.42s cubic-bezier(.37,.28,.54,.95),
    	opacity 0.3s ease-out,
    	box-shadow 0.46s cubic-bezier(.27,.35,.48,.99),
    	color 0.42s cubic-bezier(.42,.17,.45,.98),
    	background-color 0.26s cubic-bezier(.42,.17,.45,.98),
    	border 0.3s ease-out;

    transition: 
    	transform 0.42s cubic-bezier(.15,.05,.3,.98),
    	text-shadow 0.42s cubic-bezier(.37,.28,.54,.95),
    	opacity 0.3s ease-out,
    	box-shadow 0.46s cubic-bezier(.27,.35,.48,.99),
    	color 0.42s cubic-bezier(.42,.17,.45,.98),
    	background-color 0.26s cubic-bezier(.42,.17,.45,.98),
    	border 0.3s ease-out;
}

.nottransition, .nottransition:after, .nottransition:before, .nottransition *, .nottransition *:after, .nottransition *:before  {

    -webkit-transition: 0.0 linear !important;
    -moz-transition: 0.0 linear !important;
    -ms-transition: 0.0 linear !important;
    -o-transition: 0.0 linear !important;
    transition: 0.0 linear !important;

}