@charset "utf-8";
/* CSS Document */
* {
    padding: 0px;
    margin: 0px;
    border: none;
    word-break: break-all;
}
*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    font-family: メイリオ, Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    font-size: 14px;
    color: #717071;
    line-height: 24px;
    zoom: 1;
}
li {
    list-style: none;
}
/* ======= header ======= */
a {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
.header, #contentWrapper, #copyright, .nailInfo {
    clear: both;
    width: 100%;
}
.header:after, #copyright:after, .header .navTop:after, .section:after, .nailInfo:after, .nailInfo li:after, .hours_small:after, .nailTime:after, .sectionSub:after {
    display: block;
    content: "";
    clear: both;
}
/* ======= header ======= */
.header {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 0px auto;
}
.header .logo {
    position: absolute;
    top: 0;
    left: 0;
    width: 69px;
    height: 50px;
    background: url(../images/image_tablet/logo.png) no-repeat;
    background-size: 100%;
    text-indent: -3000px;
}
.header .titlePage {
    text-align:center;
    font-size:24px;
    font-weight:bold;
    padding:15px 80px 0px 80px;
}
.header .navTop {
    position: absolute;
    top: 0;
    right: 23px;
    width: 115px;
    height: 50px;
}
.header .navTop .list {
    float:left;
    width:50px;
    height:50px;
}
.header .navTop .list a {
    display:block;
    width:50px;
    height:50px;
    background:url(../images/image_tablet/nav_top_01.png) no-repeat;
    background-size:100%;
    text-indent:-3999px;
}
.header .navTop .time {
    float:right;
    width:50px;
    height:50px;
}
.header .navTop .time a {
    display:block;
    width:50px;
    height:50px;
    background:url(../images/image_tablet/nav_top_02.png) no-repeat;
    background-size:100%;
    text-indent:-3999px;
}
/* ======= section ======= */
.section {
    width:100%;
    padding:10px 23px;
}
.sectionSub {
    position:relative;
    width:100%;
    padding:10px;
    margin-bottom:10px;
}
/* ======= content ======= */
.content {
    margin-bottom:30px;
}
.content form {
    font-weight:bold;
}
.content td {
    padding:10px 10px 10px 0px; 
    font-weight:bold;
    vertical-align:top;
    text-align:left;
}
.content th {
    padding:20px 10px 10px 0px;
    font-size:18px;
    font-weight:bold;
    vertical-align:top;
    text-align:left;
}
.content input, .content select, .content textarea {
    height:44px;
    padding:10px 10px;
    font-size:16px;
    font-weight:bold;
    line-height:100%;
    color: #717071;
    -moz-border-radius: 5px; 
    -webkit-border-radius: 5px; 
    border-radius: 5px;
}
.content textarea {
    height:76px;
    padding:10px 10px;
    font-size:18px;
    font-weight:bold;
    line-height:100%;
    -moz-border-radius: 5px; 
    -webkit-border-radius: 5px; 
    border-radius: 5px;
}
.content input.bGray {
    border:1px solid #CCC;
}
.W200.select_style {
    background:url(../images/image_tablet/arrow_select.png) 168px 16px no-repeat;
    background-size:20px;
    background-color:#FFF;
    -webkit-appearance: none;
    -moz-appearance: none;
}
.W100.select_style {
    background:url(../images/image_tablet/arrow_select.png) 85% 16px no-repeat;
    background-size:20px;
    background-color:#FFF;
    -webkit-appearance: none;
    -moz-appearance: none;
}
.wP80.select_style {
    background:url(../images/image_tablet/arrow_select.png) 95% 16px no-repeat;
    background-size:20px;
    background-color:#FFF;
    -webkit-appearance: none;
    -moz-appearance: none;
}
.wP90.select_style {
    background:url(../images/image_tablet/arrow_select.png) 96% 16px no-repeat;
    background-size:20px;
    background-color:#FFF;
    -webkit-appearance: none;
    -moz-appearance: none;
}
.wP100.select_style {
    background:url(../images/image_tablet/arrow_select.png) 97% 16px no-repeat;
    background-size:20px;
    background-color:#FFF;
    -webkit-appearance: none;
    -moz-appearance: none;
}
.wP100_full.select_style {
    background:url(../images/image_tablet/arrow_select.png) 98% 14px no-repeat;
    background-size:20px;
    background-color:#FFF;
    -webkit-appearance: none;
    -moz-appearance: none;
}
.wP100.arrow_02.select_style {
    background:url(../images/image_tablet/arrow_select.png) 98% 14px no-repeat;
    background-size:20px;
    background-color:#FFF;
    -webkit-appearance: none;
    -moz-appearance: none;
}
.wP100.arrow_03.select_style {
    background:url(../images/image_tablet/arrow_select.png) 96% 16px no-repeat;
    background-size:20px;
    background-color:#FFF;
    -webkit-appearance: none;
    -moz-appearance: none;
}
select::-ms-expand {
    display: none;
}
select.select_style option {
    padding:10px 15px;
}
.rec33_group {
    display:block;
}
.rec33_group:after {
    display:block;
    content:"";
    clear:both;
}
div.rec33 {
    float:left;
    width:33px;
    height:33px;
    line-height:100%;
    margin-right:5%;
    text-align:center;
    background:#FFF;
    vertical-align:middle;
    -moz-border-radius: 3px; 
    -webkit-border-radius: 3px; 
    border-radius: 3px;
}
div.rec33 a {
    display:block;
    width:33px;
    height:33px;
    padding:5px;
    padding-top:10px;
    line-height:100%;
    text-align:center;
    vertical-align:middle;
    -moz-border-radius: 3px; 
    -webkit-border-radius: 3px; 
    border-radius: 3px;
}
/* ======= picDetail ======= */
.picDetail {
    width:100%;
    position:relative;
    padding:0px 23px;
    margin:20px 0px;
}
.picDetail .picNum {
    position: absolute;
    top: 8px;
    left: 35px;
    font-weight: bold;
}
.picDetail .thumbnail {
    width:100%;
    margin:0px auto;
}
.picDetail .thumbnail img {
    width:100%;
}
/* ======= dfgfgdfgf ======= */
.nailInfo {
    padding:0px 23px;
}
.nailInfo .style li{
    width:100%;
    min-height:44px;
    border:1px solid #ffc2c1;
    font-weight:bold;
    line-height:100%;
    -moz-border-radius: 5px; 
    -webkit-border-radius: 5px; 
    border-radius: 5px;
    margin-bottom:13px;
    /*background:url(../images/image_tablet/bg_salmon.gif) 0px 0px repeat-y;*/
    background-color: #ffc2c1;
}
.nailInfo .style li .title {
    width:40%;
    min-height:42px;
    padding:15px 15px 10px 15px;
    font-weight:bold;
    color:#FFF;
    line-height:100%;
}
.nailInfo .style li .info {
    width:60%;
    min-height:42px;
    padding:15px 15px 10px 15px;
    font-weight:bold;
    line-height:100%;
    background:#FFF;
    -moz-border-radius: 5px; 
    -webkit-border-radius: 5px; 
    /*border-radius: 5px;*/
    border-radius: 0px 5px 5px 0px;  
}
.nailInfo .style, .nailInfo .price {
    position:relative;
    height:445px;
}
.nailInfo .price li{
    width:100%;
    padding:5px 0px;
    border-bottom:1px solid #a8a8a9;
    font-weight:bold;
    line-height:100%;
    margin-bottom:0px;
}
.nailInfo .price li .title {
    width:40%;
    height:30px;
    padding:0px;
    padding-top:10px;
    font-weight:bold;
    line-height:100%;
    overflow:hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.nailInfo .price li .info {
    width:60%;
    height:30px;
    padding:0px;
    font-weight:bold;
    line-height:100%;
    text-align:right;
}		
.nailInfo .price .total {
    position:relative;
    border:3px solid #ff9393;
    padding:10px;
    font-weight:bold;
}
.nailInfo .price .total span {
    position:absolute;
    right:10px;
    top:10px;
}
.nailInfo .price .plus {
    font-weight:bold;
}
.nailInfo .price .point {
    float:right;
    width:140px;
    height:67px;
    margin-top:20px;
    border:2px solid #ff9393;
    text-align:center;
    font-weight:bold;
}
.nailInfo .price .point .title {
    border-bottom:2px solid #ff9393;
    padding:5px 10px;
    line-height:100%;
}
.nailInfo li div {
    display:inline-block;
}
/* ======= note ======= */
#headerWrapper.fix-top {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    background:#FFF;
    z-index:998;
}
/* ======= popup ======= */
.bgBlack {
    display:none;
    position:fixed;
    top:0px;
    left:0;
    width:100%;
    height:100%;
    background:#000;
    opacity: 0.7;
    z-index:998;
}
.bgWhite {
    display:none;
    position:fixed;
    top:0px;
    left:0;
    width:100%;
    height:100%;
    background:#fff;
    opacity: 0.7;
    z-index:998;
}
#popupWrapper {
    display:none;
    position:fixed;
    top:0px;
    left:0;
    width:100%;
    height:100%;
    z-index:999;
}

#popupWrapper.active {
    display:block !important;
}

#popupWrapperLog {
    display:none;
    position:fixed;
    top:0px;
    left:0;
    width:100%;
    height:100%;
    z-index:999;
}

#popupWrapperLog.active {
    display:block !important;
}
.bgBlack.active, .bgWhite.active {
    display:block !important;
}
.popupContent {
    width:88%;
    max-height:90%;
    padding:20px 70px;
    margin:30px auto;
    background:#FFF;
    -moz-border-radius: 9px; 
    -webkit-border-radius: 9px; 
    border-radius: 9px;
}
.popupContent.log {
    overflow-y:scroll;
}
.nailTime {
    position:relative;
}
.nailTime .close, .nailList .close {
    position:absolute;
    top:0;
    right:0;
    width:45px;
    height:45px;
    text-indent:-3999px;
    background:url(../images/image_tablet/close.png) no-repeat;
    background-size:100%;
}
.nailTime .close a {
    display:block;
    width:45px;
    height:45px;
}
.nailTime .three_cell {
    float:left;
    width:32%;
    margin-right:0%;
    margin-bottom:7px;
    margin-left: 7px;
    text-align:center;
    padding:15px;
    -moz-border-radius: 6px; 
    -webkit-border-radius: 6px; 
    border-radius: 6px;
    font-weight:bold;
}
.nailTime .three_cell:last-child {
    margin-right:0px !important;
}
.nailTime .ico_time {
    width:120px;
    height:120px;
    margin:0px auto;
    margin-bottom:15px;
    background:url(../images/image_tablet/ico_time.png) no-repeat;
    background-size:100%;
}
.nailList .ico_list {
    width:145px;
    height:145px;
    margin:0px auto;
    margin-bottom:20px;
    background:url(../images/image_tablet/ico_list.png) no-repeat;
    background-size:100%;
}
.hours_large {
    font-size:60px;
    line-height:100%;
}
.nailTime .btn {
    width:80%;
    height:57px;
    margin:10px auto;
    margin-bottom:0px;
    text-align:center;
    background:#FFF;
    line-height:100%;
    font-size:27px;
    -moz-border-radius: 5px; 
    -webkit-border-radius: 5px; 
    border-radius: 5px;
}
.nailTime .btn a {
    display:block;
    width:100%;
    height:57px;
    padding:10px;
    padding-top:15px;
    margin:0px auto;
    margin-bottom:0px;
    text-align:center;
    color:red;
    line-height:100%;
    font-size:27px;
    -moz-border-radius: 5px; 
    -webkit-border-radius: 5px; 
    border-radius: 5px;
}
.nailTime .btn a:hover {
    color:#FFF;
}

.nailList {
    position:relative;
    width:100%;
    font-weight:bold;
}
.nailList .textComment {
    width:100%;
    height:80px;
    font-size:18px;
    overflow-style:auto;
    background:none;
}
.nailList form:after {
    display:block;
    content:"";
    clear:both;
}
.nailList .avatar {
    position:absolute;
    top:10px;
    left:10px;
    width:64px;
    height:64px;
    -moz-border-radius: 32px; 
    -webkit-border-radius: 32px; 
    border-radius: 32px;
    overflow:hidden;
}
.nailList .avatar img {
    width:100%;
}
.nailList .textNote {
    width:100%;
    min-height:64px;
    padding: 0px 35% 0px 74px;
}
.nailList .name {
    position:absolute;
    top:10px;
    right:10px;
    width:30%;
    text-align:right;
    line-height:140%;
    opacity:0.7;
}
.nailList .time, .date {
    position:absolute;
    bottom:10px;
    right:10px;
    width:90px;
    text-align:right;
    opacity:0.7;
}

/* ======= popup END======= */
.btn, .btn.H38 {
    height:38px;
    -moz-border-radius: 5px; 
    -webkit-border-radius: 5px; 
    border-radius: 5px;
    text-align:center;
    cursor:pointer;
    padding: 0px !important;
    border:0px  !important;
}
.btn a, .btn.H38 a {
    display:block;
    height:38px;
    width:100%;
    font-size:18px;
    font-weight:bold;
    color:#FFF;
    padding:10px 15px 0px 15px;
    -moz-border-radius: 5px; 
    -webkit-border-radius: 5px; 
    border-radius: 5px;
}
.btn a:hover,  .btn.H38 a:hover  {
    color:#FFF;
    background:#666;
}
.btn.noPic {
    height:68px;
    margin:0px auto;
    text-align:center;
}
.btn.noPic a {
    display:block;
    height:68px;
    width:100%;
    font-size:18px;
    font-weight:bold;
    color:#FFF;
    padding:12px 15px 0px 15px;
    -moz-border-radius: 5px; 
    -webkit-border-radius: 5px; 
    border-radius: 5px;
}
.btn.save {
    clear:both;
    float:right;
}
.btn .disable, .btn.disable {
    color:#999 !important;
    background:#ccc !important;
    cursor:default;
    display:block;
    height:38px;
    width:100%;
    -moz-border-radius: 5px; 
    -webkit-border-radius: 5px; 
    border-radius: 5px;
}
.radius5 {
    -moz-border-radius: 5px; 
    -webkit-border-radius: 5px; 
    border-radius: 5px;
}
.border {
    border:1px solid #717071;
}
.dropdownList {
    margin-bottom:20px;
}
.dropdownList label {
    display:block;
}
.dropdownList select {
    height: 44px;
    padding: 10px 10px;
    font-size: 18px;
    font-weight: bold;
    line-height: 100%;
    color: #717071;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border:1px solid #CCC;
}
.orderItem span {
    height:42px;
    vertical-align:middle;
    position: relative;
}
ul.item_list {
    min-height:196px;
}
.item_list .orderItem .qty-input {
    width: 50px;
    text-align: left;
    height: 30px !important;
    padding:2px 5px;
    font-size: 14px !important;
    margin: 0 !important;
    -webkit-border-top-left-radius: 4px !important;
    -webkit-border-bottom-left-radius: 4px !important;
    -moz-border-radius-topleft: 4px !important;
    -moz-border-radius-bottomleft: 4px !important;
    border-top-left-radius: 4px !important;
    border-bottom-left-radius: 4px !important;
}
.orderItem input {
    border: 1px solid #ccc;
    width: 42px;
    height: 100%;
    padding-bottom: 12px;
    padding-left: 5px;
    margin-right:5px;
    font-size: 14px;
    vertical-align: middle;
}
.delButton a {
    font-size: 11px;
    border: 1px solid #ff9393;
    color: #ff9393;
    padding: 0 5px;
    margin-right:5px;
    width:100px;
}
.item_list .orderItem .arrowBlock {
    height: 30px !important;
}
.arrowBlock {
    position: absolute;
    right: 20px;
    width: 18px;
}
.item_list .orderItem .upQty, .item_list .orderItem .downQty {
    float: left;
    margin-left: 0px;
    margin-top: 0px;
    height: 16px !important;
    width: 18px !important;
    display: block;
    border: none;
}
.item_list .orderItem .upQty {
    background: url(../images/image_tablet/ico_gallery.png) no-repeat left -220px transparent;
}
.item_list .orderItem .downQty {
    background: url(../images/image_tablet/ico_gallery.png) no-repeat left -236px transparent;
}
.orderItem .priceAll {
    min-width:56px;
    height:16px;
    display:inline-block;
    vertical-align:middle;
}
.item-list select {
    border: 1px solid #ccc;
}
.nailPrice {
    margin-bottom:20px;
}
.loadingWrapper {
    position:fixed;
    bottom:0;
    right:0;
    width:120px;
    height:40px;
    z-index:99999;
}
.loadingWrapper .loading {
    display:none;
    position:absolute;
    right:0px;
    bottom:6px;
    width:120px;
    height:30px;
    color:#000;
    background-color:#FFF;
    opacity:0.7;
}
.loadingWrapper .loading.active {
    display:block;
}
.loadingWrapper .loading .icon {
    display:inline-block;
    width:30px;
    height:30px;
    margin-right:10px;
    background: url(../images/image_tablet/loading.gif) no-repeat;
    background-size:100%;
    vertical-align:middle;
}
.registerButton {
    display:inline-block;
    width:85px;
    height:30px;
    vertical-align:middle;
    margin-left:10px;
    margin-top:-3px;
}
.registerButton a {
    display:block;
    width:85px;
    height:30px;
    text-align:center;
    padding:5px 5px;
    color:#FF9393;
    background:#fff;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
.headingItem {
    width:32%;
    height:44px;
    display:inline-block;
    margin-bottom:10px;
}
.nameShow {
    display:inline-block;
    width:70% !important;
    height:44px;
    padding:10px;
    text-align:left;
    line-height:100%;
    border:1px solid #CCC;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    vertical-align:middle;
}
.titleItem {
    display:inline-block;
    width:30%;
    text-align:right;
    padding-right:5px;
}
/* Portrait and Landscape */
@media only screen and (orientation: landscape) {
    .popupContent {
        margin-top:10px;
        max-height:98%;
    }
    .headingItem {
        width:30%;
        height:44px;
        display:inline-block;
        margin-bottom:10px;
    }
    .nameShow {
        display:inline-block;
        width:60% !important;
        height:44px;
        padding:10px;
        padding-top:15px;
        text-align:left;
        line-height:100%;
        border:1px solid #CCC;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        vertical-align:middle;
    }
    .titleItem {
        display:inline-block;
        width:40%;
        text-align:right;
        padding-right:5px;
    }
}
/* Portrait and Landscape */
@media only screen and ( max-device-width: 767px) {
    .picDetail .thumbnail {
        width:100%;
    }
    .nailInfo .price li .title {
        width:35%;
        font-size:11px;
        overflow:hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .nailInfo .price li .info {
        width:65%;
        font-size:11px; 
    }
    .nailInfo .style li .title {
        font-size:12px;
    }
    .nailInfo .style li .info {
        font-size:12px;
    }
    .item_list .orderItem .qty-input {
        width:45px;
        font-size:12px !important;
    }
    .delButton a {
        font-size:9px;
    }	
    .orderItem .priceAll {
        width:34px;
        padding-top:2px;
        line-height:100%;
    }
    .arrowBlock {
        right: 16px;
    }
    div.rec33 {
        margin-right:3px;
    }
    .content th {
        font-size:12px !important;
        line-height:120%;
    }
    .content th .mB15.taR {
        margin-bottom:28px !important;
    }
    .section.heading span label {
        font-size:12px;
    }
    .content input, .content select, .content textarea {
        font-size:12px !important;
    }
    .headingItem {
        width:48%;
        height:44px;
        display:inline-block;
        margin-bottom:10px;
    }
    .nameShow {
        display:inline-block;
        width:70% !important;
        height:44px;
        padding:10px;
        padding-top:15px;
        text-align:left;
        line-height:100%;
        border:1px solid #CCC;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        vertical-align:middle;
    }
    .titleItem {
        display:inline-block;
        width:30%;
        text-align:right;
        padding-right:5px;
    }
}

/* max 800px */
@media only screen and ( max-device-width: 800px) {
    .nailTime .three_cell .hours_large  {
        font-size:36px;
    }
    .nailTime .three_cell .f26px {
        font-size:18px !important;
    }
    .nailTime .three_cell .f28px {
        font-size:18px !important;
    }
}
@media only screen and ( max-device-width: 800px) {
    .item_list .orderItem .qty-input {
        width: 42px!important;
    }
}
/* max 600px */
@media only screen and ( min-device-width: 600px) and ( max-device-width: 767px) {
    .nailTime .three_cell .hours_large  {
        font-size:26px;
    }
    .nailTime .three_cell .f26px {
        font-size:12px !important;
    }
    .nailTime .three_cell .f28px {
        font-size:12px !important;
    }
    .picDetail a { font-size:14px !important;}
    .registerButton {
        width:60px;
    }
    .registerButton a {
        width:60px;
        font-size:12px;
        padding-top:3px;
    }
}

/*Sub order tab*/
#medicalchart .suborder-tab-section {
    width: 100%;
    background-color: white;
    margin-top:5px;
    height: 65px;
}

#medicalchart .suborder-tab-btn {
    float: left;
    width: 15%;
    height: 65px;
    background-color: #E4ADAC;
    color: white;
    text-align: center;
    font-size: 20px; 
    margin-right:3px; 
    padding-top: 20px;
}

#medicalchart .btn-active {
    background-color: #FFC2C1;
}
