<?php echo $this->Html->image('logo.png'); ?>
<br />
<div class="header"><?php echo __('Sign In') ?></div>

<div class="body bg-gray">
<?php		
    echo $this->SimpleForm->render($loginForm); 		
?>
</div>