<style type="text/css">
h2 {
    font-size: 20px;
    margin-top: 40px;
}
h3 {
    margin-top: 29px;
    margin-bottom: 16px;
    font-size: 21px;
    font-weight: normal;
}
p {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 22px;
}
h4 {
    margin-top: 18px;
    margin-bottom: 5px;
    font-size: 17px;
    font-weight: normal;
}
</style>
<section class="sec_inner">
    <h2>利用規約</h2>


    <h3>第1条　はじめに</h3>
    <p>この利用規約（以下「本利用規約」といいます）は、株式会社オーシャナイズ（以下「弊社」といいます）が本サイト上で提供するサービスを、ユーザーが利用する際の一切の行為に適用されます。<br>本利用規約は、本サービスの利用条件を定めるものです。ユーザーは、本利用規約に従い本サービスを利用するものとします。<br>ユーザーは、本サービスを利用することにより、本利用規約の全ての記載内容について同意したものとみなされます。</p>

    <h3>第2条　定義</h3>
    <p>本利用規約において使用する用語の意義は、次の各号に定めるとおりとします。</p>

    <h4>(1)本サービス</h4>
    <p>各サービスの利用規約等名称の如何に関わらず、本利用規約以外の規定であって、本サービスの利用条件を定めるものをいいます。</p>

    <h4>(2)その他の利用規約等</h4>
    <p>キャプチャーアプリ上で提供されるiPhoneアプリ・Androidアプリ・Webアプリを利用する全てのサービスをいいます。</p>

    <h4>(3)ユーザー</h4>
    <p>本サービスを利用するために会員登録している者をいいます。</p>

    <h4>(4)登録メールアドレス</h4>
    <p>本サービスの提供を受ける目的で、ユーザーが弊社に提供したメールアドレスの情報をいいます。</p>

    <h4>(5)情報</h4>
    <p>プロフィール、画像、入力情報等本サービスを利用して投稿・送信できる情報をいいます。</p>

    <h4>(6)投稿・送信</h4>
    <p>ユーザーが本サイトに情報を入力する行為をいいます。</p>



    <h3>第3条　本利用規約の範囲</h3>
    <p>
        利用規約等において、本サービスの利用条件が規定されています。その他の利用規約等は名称の如何に関わらず本利用規約の一部を構成するものとします。<br>
        本利用規約の規定とその他の利用規約等の規定が異なる場合は、当該その他の利用規約等の規定が優先して適用されるものとします。
    </p>

    <h3>第4条　本利用規約の変更</h3>
    <p>お客さまがご本人の個人情報の照会・修正・削除などをご希望される場合には、ご本人であることを確認の上、対応させていただきます。</p>

    <h3>第5条　個人情報の取扱い</h3>
    <p>
        弊社は、個人情報を「プライバシーポリシー」に基づき、適切に取り扱うものとします。
    </p>

    <h3>第6条　通信の秘密</h3>
    <p>
        弊社は、電気通信事業法（昭和59年法律第86号）第4条に基づき、ユーザーの通信の秘密を守ります。<br>
        弊社は、次の各号に掲げる場合には、当該各号に定める範囲内において前項の守秘義務を負わないものとします。<br>
        (1)刑事訴訟法（昭和23年法律第131号）又は犯罪捜査のための通信傍受に関する法律（平成11年法律第137号）の定めに基づく強制の処分又は裁判所の命令が行われた場合　当該処分又は裁判所の命令の定める範囲内<br>
        (2)法令に基づく強制的な処分が行われた場合　当該処分又は命令の定める範囲内<br>
        (3)特定電気通信役務提供者の損害賠償責任の制限及び発信者情報の開示に関する法律（平成13年法律第137号）第4条に基づく開示請求の要件が充足されたと弊社が判断した場合　当該開示請求の範囲内<br>
        (4)他人の生命、身体又は財産の保護のために必要があると弊社が判断した場合　他人の生命、身体又は財産の保護のために必要な範囲内
    </p>

    <h3>第7条　入会</h3>
    <p>
        本サービスに入会できるのは、満16歳以上の者に限るものとします。ただし、弊社が別に認めたものを除きます。<br>
        本サービスの利用を希望する者は、本利用規約の内容に同意した上で、弊社所定の方法により、入会の申込を行うものとします。<br>
        入会の申込をした者（以下「入会申込者」といいます。）は、弊社が入会の申込を承諾した時点でユーザーになります。<br>
        弊社は、弊社の定めるところにより、本サービスの機能やツールを、ユーザーの年齢や利用環境等の条件に応じて提供するものとします。<br>
        弊社は、ユーザーに対して新サービスの告知、広告配信、サービス運営上の事務連絡、その他情報の提供を行います。ただし、ユーザーが情報の提供を希望しない旨を、事前又は事後に弊社所定の方法で通知した場合は、本サービスの提供に必要な場合を除いて、情報の提供を行わないものとします。
    </p>

    <h3>第8条　入会申込の不承諾</h3>
    <p>
        弊社は、次の各号のいずれかに該当する場合は、弊社の判断によって、入会申込者の入会申込を承諾しないことがあります。<br><br>

        入会申込者が、前条第2項の方法によらずに入会の申込を行った場合<br>
        入会申込者が、過去に本利用規約又はその他の利用規約等に違反したことを理由として強制退会処分を受けた者である場合<br>
        その他弊社が不適切と判断した場合

    </p>

    <h3>第9条　退会</h3>
    <p>
        ユーザーが退会を希望する場合には、ユーザーは、弊社所定の方法により、弊社に退会の申出を行うものとします。<br>
        弊社は、ユーザーが次の各号に掲げるいずれかの行為を行った場合には、弊社の判断によって、ユーザーを強制的に退会、または本サービスにおいて登録されている情報の削除を行ない、本サービスの利用をお断りすることがあります。<br><br>
        (1)第7条第2項の方法によらずに入会の申込を行ったことが明らかとなった場合<br>
        (2)入会の申込みに際して、入会申込者が真実に反する事項を貴社に申告した場合<br>
        (3)本利用規約又はその他の利用規約等に違反した場合<br>
        (4)その他弊社が不適切と判断した場合
    </p>

    <h3>第10条　登録メールアドレス及びパスワードの管理</h3>
    <p>
        ユーザーは、自分の管理に属する使用可能なメールアドレスを登録メールアドレスとして登録しなければならず、当該登録メールアドレスが自己の管理に属さなくなったときには、自己の管理に属する使用可能な別のメールアドレスに変更しなければならないものとします。<br>
        ユーザーは、自己の登録メールアドレス及びパスワードの不正利用の防止に努めるとともに、その管理について一切の責任を持つものとします。<br>
        登録メールアドレスやパスワードが第三者に利用されたことによって生じた損害等につきましては、弊社に故意又は重過失がある場合を除き、弊社はいかなる責任も負いません。
    </p>

    <h3>第11条　アカウントの保有</h3>
    <p>
        ユーザーは1人につき1つのアカウントを保有するものとします。1人が複数のアカウントを保有すること、複数人が1つのアカウントを共同して保有することはできません。ただし、弊社が別に認めたものを除きます。<br>
        ユーザーはいかなる場合においても、アカウントを第三者に譲渡又は貸与することはできません。
    </p>

    <h3>第12条　利用環境の整備</h3>
    <p>
        ユーザーは、本サービスを利用するために必要なあらゆる機器、ソフトウェア、通信手段を自己の責任と費用において、適切に整備するものとします。<br>
        ユーザーは自己の利用環境に応じて、コンピューター・ウィルスの感染の防止、不正アクセス及び情報漏洩の防止等のセキュリティ対策を講じるものとします。<br>
        弊社はユーザーの利用環境について一切関与せず、また一切の責任を負いません。
    </p>

    <h3>第13条　ユーザーの責任</h3>
    <p>
        ユーザーは、ユーザー自身の自己責任において本サービスを利用するものとし、本サービスを利用してなされた一切の行為及びその結果について一切の責任を負い、弊社には何らの不利益、負担または損害を与えないものとします。万一、弊社がユーザーの行為に起因して何らかの不利益、負担または損害を受けたときには、ユーザーは、弊社に対し、かかる不利益、負担または損害を賠償するものとします。<br>
        本サービスを利用してユーザーが投稿・送信した情報に関する責任は、ユーザー自身にあります。弊社はユーザーが本サービスを利用して投稿・送信した情報の内容について、一切責任を負いません。<br>
        ユーザーが他人の名誉を毀損した場合、プライバシー権を侵害した場合、許諾なく第三者の個人情報を開示した場合、著作権法（昭和45年法律第48号）に違反する行為を行った場合その他、他人の権利を侵害した場合には、当該ユーザーは自身の責任と費用において解決しなければならず、弊社は一切の責任を負いません。<br>
        ユーザーは、ユーザーが本サービスを利用して投稿・送信した情報について弊社に保存義務がないことを認識し、必要な情報については適宜バックアップをとるものとします。
    </p>

    <h3>第14条　禁止事項</h3>
    <p>
        ユーザーは、本サービスの利用にあたり、次に掲げる行為を行ってはならないものとします。禁止事項に違反した場合には、強制退会、利用停止、情報の全部もしくは一部の削除、又は公開範囲の変更等の不利益な措置を採ることがあります。<br><br>

        弊社もしくは他者の著作権、商標権等の知的財産権を侵害する行為、又は侵害するおそれのある行為。<br>
        弊社もしくは他者の財産、プライバシーもしくは肖像権を侵害する行為、又は侵害するおそれのある行為。<br>
        弊社もしくは他者を不当に差別もしくは誹謗中傷し、他者への不当な差別を助長し、又はその名誉もしくは信用を毀損する行為。<br>
        自分以外の人物を名乗ったり、代表権や代理権がないにもかかわらずあるものと装ったり、又は他の人物や組織と提携、協力関係にあると偽って本サービスを利用する行為。<br>
        詐欺、規制薬物の濫用、児童売買春、預貯金口座及び携帯電話の違法な売買等の犯罪に結びつく、又は結びつくおそれのある行為。<br>
        わいせつ、児童ポルノ又は児童虐待に相当する情報（以下、本号において｢これらの情報｣といいます）について、次に掲げるいずれかの行為を行うこと。<br>
        (ア)これらの情報を投稿・送信又は表示する行為。<br>
        (イ)これらの情報を収録した媒体を販売する行為。<br>
        (ウ)これらの情報を収録した媒体の送信、表示、販売を想起させる広告を投稿・送信又は表示する行為。<br><br>

        性行為、わいせつな行為等を目的として利用する行為。
        面識のない異性との出会い等を目的として利用する行為。<br>
        青少年の家出を誘引・助長する行為。<br>
        違法な賭博・ギャンブルを行わせ、又は違法な賭博・ギャンブルへの参加を勧誘する行為。<br>
        違法行為（けん銃等の譲渡、爆発物の製造、児童ポルノの提供、公文書偽造、殺人、脅迫等）を請け負い、仲介し、又は誘引する行為。<br>
        他人を自殺に誘引又は勧誘する行為。<br>
        次に掲げる情報を投稿・送信し、又は表示する行為。<br>
        (ア)人の殺害、傷害現場を撮影した情報。<br>
        (イ)死体を撮影した情報。<br>
        (ウ)その他残虐な行為を撮影した情報。<br>
        次に掲げる内容の情報を投稿・送信する行為。<br>
        (ア)人物や店舗を誹謗中傷する内容の情報。<br>
        (イ)氏名、住所、勤務先、電話番号等個人を特定しうる内容の情報。<br>
        (ウ)真否についての事実確認が困難な内容や虚偽の内容の情報。<br>
        (エ)衛生管理上の問題等のしかるべき公的機関へ届け出るべき事項に関する内容の情報。<br>
        (オ)人物や店舗とのトラブルまたはクレームに関する内容の情報。<br>
        (カ)その他弊社が不適切と判断する内容の情報。<br>
        次に掲げる内容の情報を投稿・送信する行為。<br>
        (ア)商業用の広告、宣伝又は勧誘を目的とする情報。ただし、弊社が別に認めたものを除く。<br>
        (イ)アフィリエイトのリンクを含む情報。<br>
        (ウ)無限連鎖講（ネズミ講）、チェーンメール、MLM、リードメール等他人を勧誘する内容の情報。<br>
        (エ)金融機関等の口座番号を含む情報。<br>
        (オ)アダルトサイト、ワンクリック詐欺サイト、ウィルス等の有害なコンピュータプログラム等を流布させることを目的とするサイト等弊社が不適切と判断するサイトに誘導する情報（単にリンクを張る行為を含む。）。<br>
        (カ)グロテスクな画像等の他のユーザーが不快を感じる可能性が高いと弊社が判断する情報。<br>
        (キ)その他弊社が不適切と判断する情報。<br>
        自己または第三者の住所、電話番号、メールアドレス等の個人が特定される連絡先を、本サイト内のユーザー全体に公開される箇所に投稿・送信する行為。<br>
        他のユーザーに対して、無差別にメッセージを送信する行為、又は全く面識のない人を無差別に招待する行為。<br>
        次に掲げるスパム行為を行うこと。<br>
        (ア)スパム投稿　一人又は複数のユーザーが、同一又は類似の文章を投稿・送信する行為。<br>
        (イ)スパムワード　一人又は複数のユーザーが、本サイト内の投稿・送信可能な箇所に、当該箇所と無関係若しくは関連性の希薄な語句を複数羅列し、又は著しく長い文章若しくは大量の語句を投稿・送信する行為。<br>
        (ウ)スパムURL　一人又は複数のユーザーが、同一のURLを投稿・送信する行為。<br>
        (エ)その他弊社がスパムと判断する行為。<br><br>
        1人が複数のアカウントを保有する行為又は複数人が1つのアカウントを共同して保有する行為。ただし、弊社が別に認めたものを除く。<br>
        機能やツールの制限を逸脱して本サービスを利用する行為。ただし、弊社が別に認めたものを除く。<br>
        第9条第2項により強制退会とされたユーザーを招待する行為。<br>
        弊社の設備に蓄積された情報を不正に書き換え、又は消去する行為。<br>
        ウィルス等の有害なコンピュータプログラム等を送信又は掲載する行為。<br>
        弊社又は他者のサーバーに負担をかける行為、もしくは、本サービスの運営やネットワーク・システムに支障を与える行為、又はこれらのおそれのある行為。<br>
        その行為が前各号のいずれかに該当することを知りつつ、その行為を助長する目的でリンクを貼る行為。<br>
        法令、公序良俗又は本利用規約もしくはその他の利用規約等に違反し、又は他者の権利を侵害すると弊社が判断する行為。<br>
        その他、弊社が不適切と判断する行為。
    </p>

    <h3>第15条　サービスの変更等</h3>
    <p>
        弊社は、弊社の都合により、本サービスをいつでも任意の理由で追加、変更、中断、終了することができます。
    </p>

    <h3>第16条　利用料金</h3>
    <p>
        登録及び基本サービスは無料とします。
    </p>

    <h3>第17条　情報に関する権利</h3>
    <p>
        本サービスを利用して情報を投稿・送信するユーザーは、弊社に対し、当該情報が第三者の権利を侵害していないことを保証するものとします。万一、第三者との間で何らかの紛争が発生した場合には、当該ユーザーの費用と責任において問題を解決するとともに、弊社に何等の迷惑又は損害を与えないものとします。
    </p>

    <h3>第18条　情報の使用許諾等</h3>
    <p>
        本サービスを利用して投稿・送信された情報の権利（著作権および著作者人格権等の周辺権利）は、創作したユーザーに帰属します。<br>
        弊社は、ユーザーが投稿・送信する情報を、本サービスの円滑な提供、弊社システムの構築、改良、メンテナンスに必要な範囲内で、使用することができるものとします。<br>
        弊社が前項に定める形で情報を使用するにあたっては、情報の一部又は氏名表示を省略することができるものとします。<br>
        弊社が第2項に定める形で情報を使用するにあたっては、ユーザーが設定している情報の公開の範囲を超える形ではこれを使用しません。
    </p>

    <h3>第19条　免責事項</h3>
    <p>
        弊社は、ユーザーの通信や活動に関与しません。万一ユーザー間の紛争があった場合でも、当該ユーザー間で解決するものとし、弊社はその責任を負いません。<br>
        弊社は、本サービスの内容の追加、変更、又は本サービスの中断、終了によって生じたいかなる損害についても、一切責任を負いません。アクセス過多、その他予期せぬ要因で表示速度の低下や障害等が生じた場合も同様とします。<br>
        弊社は、ユーザーによって投稿・送信される情報を監視したり、保存する義務を負いません。<br>
        弊社は、ユーザーによって投稿・送信される情報の合法性、道徳性、信頼性、正確性について責任を負いません。ユーザーによって投稿・送信される情報が、当該ユーザーが所属する法人・団体等の内部規則等に適合することについても、責任を負いません。<br>
        弊社は、次に掲げる場合には、当該情報の内容を閲覧したり、保存したり、第三者に開示すること（以下、本項において「閲覧等」といいます）ができるものとします。弊社は、それによって生じたいかなる損害についても、一切責任を負いません。<br>
        (1)弊社が情報を投稿・送信したユーザーの登録メールアドレスに宛てて閲覧等の同意を求める電子メールを送信した場合であって、次の各号に掲げるいずれかに該当するとき。<br>
        (ア)当該ユーザーが閲覧等に同意したとき。<br>
        (イ)弊社が閲覧等の同意を求める電子メールを送信してから7日以内に、これを拒否する旨の当該ユーザーの電子メールでの回答が弊社のメールサーバに到達しなかったとき。ただし、緊急止むを得ない事由が生じたときは除く。<br>
        (2)本サービスの技術的不具合の原因を解明し、解消するため必要な場合。<br>
        (3)裁判所や警察などの公的機関から、法令に基づく正式な照会を受けた場合。<br>
        (4)本利用規約に違反する行為又はそのおそれのある行為が行われ、情報の内容を確認する必要が生じたと弊社が判断した場合。<br>
        (5)人の生命、身体及び財産などに差し迫った危険があり、緊急の必要性があると弊社が判断した場合。<br>
        (6)第6条第2項各号に掲げる事項に該当する場合<br>
        (7)その他本サイトを適切に運営するために必要が生じた場合。<br>
        弊社は、本利用規約又はその他の利用規約等に違反する行為又はそのおそれのある行為が行われたと信じるに足りる相当な理由があると判断した場合には、当該行為を行ったユーザーの強制退会処分、情報の全部もしくは一部の削除、及び公開範囲の変更等を行う場合がありますが、それによって生じたいかなる損害についても、一切責任を負いません。<br>
        本利用規約又はその他の利用規約等が消費者契約法（平成12年法律第61号）第2条第3項の消費者契約に該当する場合には、本利用規約及びその他の利用規約等のうち、弊社の損害賠償責任を完全に免責する規定は適用されないものとします。この場合においてユーザーに発生した損害が弊社の債務不履行又は不法行為に基づくときは、弊社は、当該ユーザーが直接被った損害を上限として損害賠償責任を負うものとします。ただし、弊社に故意又は重過失がある場合に限ります。
    </p>

    <h3>第20条　弊社の削除権限</h3>
    <p>
        弊社は、次に掲げる場合には、情報の違法性・規約違反の有無に関わらず、関連する情報について、その全部もしくは一部の削除又は公開範囲の変更等の不利益な措置を行うことができるものとします。<br><br>

        人（実在の人物であるか否かを問わず、漫画・アニメ等のキャラクターを含みます）の裸体（着衣の全部又は一部を欠くものをいいます）を撮影・描写した情報が投稿・送信された場合。<br>
        公的な機関又は専門家（国、地方公共団体、特定電気通信役務提供者の損害賠償責任の制限及び発信者情報の開示に関する法律のガイドラインに規定された信頼性確認団体、インターネット・ホットラインセンター、弁護士等をいいます）から、情報について、違法、公序良俗違反又は他人の権利を侵害する等の指摘・意見表明があった場合。<br>
        権利者と称する者から、情報が自分の権利を侵害する旨の申告があった場合。ただし、権利者と称する者から、権利者であることを合理的に判断できる資料を提示され、弊社にて慎重に検討した結果、権利者であると弊社が判断した場合に限る。
    </p>

    <h3>第21条　本利用規約及びその他の利用規約等の有効性</h3>
    <p>
        本利用規約及びその他の利用規約等の規定の一部が法令に基づいて無効と判断されても、本利用規約及びその他の利用規約等のその他の規定は有効とします。<br>
        利用規約等の規定の一部があるユーザーとの関係で無効とされ、又は取り消された場合でも、利用規約等はその他のユーザーとの関係では有効とします。
    </p>

    <h3>第22条　本利用規約又はその他の利用規約等違反行為等への対処</h3>
    <p>
        本利用規約又はその他の利用規約等に違反する行為を発見した場合には、お問い合わせフォームから通報してください。ただし、個別のサービスにおいて、特に、運営事務局に通報するためのリンクが設けられている場合には、当該リンク先から通報してください。<br>
        ユーザーが本利用規約又はその他の利用規約等に違反したと認められる場合、その他弊社が必要と認める場合は、弊社は当該ユーザーに対し以下の対処を講ずることがあります。<br>
        (1)本利用規約又はその他の利用規約等に違反する行為等を止め、同様の行為を繰り返さないことを要求すること。<br>
        (2)情報の自発的削除・訂正を求めること。<br>
        (3)情報の全部もしくは一部を削除し、公開範囲を変更し、又は閲覧できない状態（非公開）にすること。<br>
        (4)強制退会処分とすること。<br>
        (5)入会申込者の入会申込を承諾しないこと。<br>
        ユーザーは、弊社が第8条、第9条第2項、第14条、第20条及び本条第2項の規定に基づいて行った本利用規約又はその他の利用規約等に違反する行為等への対処について、異議を申し立てることはできないものとします。
    </p>

    <h3>第23条　準拠法及び管轄裁判所</h3>
    <p>
        本利用規約の準拠法は、日本法とします。<br>
        ユーザーと弊社の間で訴訟の必要が生じた場合、東京地方裁判所を第一審の専属的合意管轄裁判所とします。
    </p>

    <h3>附則</h3>
    <p>
        本利用規約は平成26年9月15日から施行します。<br>
        本利用規約の施行前にユーザーによって行われた行為についても本利用規約が適用されます。
    </p>

    <h4>株式会社オーシャナイズ</h4>

    <p>[東京本社]<br>
    〒150-0031　東京都渋谷区桜丘町14-1 ハッチェリー渋谷 2F<br>
    TEL 03-6715-1640</p>
</section>