
.resize-container {
    cursor: move;
    display: inline-block;
    margin: 0 auto;
    position: relative;
}
.resize-container img {
    display: block;
}
.resize-container:hover img, .resize-container:active img {
    outline: 2px dashed rgba(222, 60, 80, 0.9);
}
.resize-handle-ne, .resize-handle-se, .resize-handle-nw, .resize-handle-sw {
    background: rgba(222, 60, 80, 0.9) none repeat scroll 0 0;
    display: block;
    height: 10px;
    position: absolute;
    width: 10px;
    z-index: 999;
}
.resize-handle-nw {
    cursor: nw-resize;
    left: -5px;
    top: -5px;
}
.resize-handle-sw {
    bottom: -5px;
    cursor: sw-resize;
    left: -5px;
}
.resize-handle-ne {
    cursor: ne-resize;
    right: -5px;
    top: -5px;
}
.resize-handle-se {
    bottom: -5px;
    cursor: se-resize;
    right: -5px;
}
.overlay, .overlay-background {
    border: 2px solid rgba(222, 60, 80, 0.9);
    box-sizing: content-box;
    height: 272px;
    left: 50%;
    margin-left: -187px;
    margin-top: -142.875px;
    pointer-events: none;
    position: absolute;
    top: 50%;
    width: 360px;
    z-index: 999;
}
.overlay::after, .overlay::before {
    border-left: 2px dashed rgba(222, 60, 80, 0.9);
    border-right: 2px dashed rgba(222, 60, 80, 0.9);
    content: "";
    display: block;
    height: 270px;
    position: absolute;
    width: 364px;
}
.overlay::before {
    margin-left: -2px;
    margin-top: -40px;
    top: 0;
}
.overlay::after {
    bottom: 0;
    margin-bottom: -40px;
    margin-left: -2px;
}
.overlay-inner::after, .overlay-inner::before {
    border-bottom: 2px dashed rgba(222, 60, 80, 0.9);
    border-top: 2px dashed rgba(222, 60, 80, 0.9);
    content: "";
    display: block;
    height: 274px;
    position: absolute;
    width: 40px;
}
.overlay-inner::before {
    left: 0;
    margin-left: -40px;
    margin-top: -2px;
}
.overlay-inner::after {
    margin-right: -40px;
    margin-top: -2px;
    right: 0;
}
.overlay-background {
    z-index: 0;
}
.btn-crop {
    background-color: rgb(222, 60, 80);
    border: medium none;
    border-radius: 5px;
    bottom: 5px;
    color: #fff;
    padding: 6px 10px;
    position: absolute;
    right: 5px;
    vertical-align: bottom;
    z-index: 999;
}
.btn-crop img {
    margin-left: 8px;
    vertical-align: middle;
}
.my-colorpicker2 {
    position: absolute;
    right: 5px;
    top: 5px;
    width: 140px;
}
