
*, *::after, *::before {
    box-sizing: border-box;
}
.clearfix::before, .clearfix::after {
    content: "";
    display: table;
}
.clearfix::after {
    clear: both;
}
.resize-image-content {
    margin: 0 auto;
    max-width: 650px;
    padding: 1em;
    text-align: center;
}
.component {
    background: rgba(0, 0, 0, 0) url("../img/gridme.png") repeat scroll center center;
    border: 3px solid #49708a;
    height: 380px;
    margin: 0 auto;
    overflow: hidden;
    padding: 4em;
    position: relative;
    width: 500px;
}
.codrops-header {
    letter-spacing: -1px;
    padding: 0 0 2em;
}
.codrops-header h1 {
    font-size: 2.5em;
    font-weight: 800;
    line-height: 1.3;
    margin: 0.25em auto;
}
.codrops-header h1 span, .a-tip {
    color: #49708a;
}
.a-tip {
    padding: 1em;
}
.a-tip span {
    border: 2px solid #fff;
    color: #fff;
    display: inline-block;
    padding: 0 5px;
}
.codrops-top {
    font-size: 0.69em;
    font-weight: 700;
    line-height: 2.2;
    text-transform: uppercase;
    width: 100%;
}
.codrops-top a {
    display: inline-block;
    letter-spacing: 1px;
    padding: 1em 2em;
    text-decoration: none;
}
.codrops-top span.right {
    float: right;
}
.codrops-top span.right a {
    display: block;
    float: left;
}
.codrops-icon::before {
    font-family: "codropsicons";
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    margin: 0 4px;
    text-transform: none;
}
.codrops-icon-drop::before {
    content: "";
}
.codrops-icon-prev::before {
    content: "";
}
.codrops-demos a {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: initial;
    border-image: none;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    display: inline-block;
    font-weight: 700;
    letter-spacing: 1px;
    margin: 5px;
    padding: 0.5em 1em;
    text-transform: uppercase;
}
.codrops-demos a.current-demo {
    color: #74777b;
}
.related {
    padding: 4em 0 2em;
    text-align: center;
}
.related > a {
    border: 2px solid #49708a;
    display: inline-block;
    margin: 20px 10px;
    max-width: 340px;
    padding: 25px;
    text-align: center;
    vertical-align: top;
    width: calc(100% - 20px);
}
.related a img {
    max-width: 100%;
    opacity: 0.8;
}
.related a:hover img, .related a:active img {
    opacity: 1;
}
.related a h3 {
    margin: 0;
    max-width: 300px;
    min-height: 60px;
    padding: 0.5em 0 0.3em;
    text-align: left;
}
@media screen and (max-width: 27em) {
.codrops-icon {
    font-size: 1.5em;
}
.codrops-icon span {
    display: none;
}
}
.overlay, .overlay-background {
    height: 270px !important;
    width: 360px !important;
}
.modal-content{
	border-radius: 6px !important;
}